trunk/ots-xsd/src/main/resources/ots-types.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.opentrafficsim.org/ots" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:ots="http://www.opentrafficsim.org/ots" xmlns="http://www.opentrafficsim.org/ots" elementFormDefault="qualified">

  <!-- ========================================================================================= -->
  <!-- ===================================== DJUNITS TYPES ===================================== -->
  <!-- ========================================================================================= -->

  <xsd:simpleType name="DURATIONTYPE">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[+-]?\d+\.?\d*\s*(ms|msec|s|sec|m|min|h|hr|hour|day|wk|week|as|asec|ns|nsec|mus|musec|fs|fsec|ps|psec)"></xsd:pattern>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="TIMETYPE">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[+-]?\d+\.?\d*\s*(ms|msec|s|sec|m|min|h|hr|hour|d|day|wk|week|mus|musec)"></xsd:pattern>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="LENGTHTYPE">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[+-]?\d+\.?\d*\s*(m|mm|cm|dm|dam|hm|km|ft|in|mi|NM|yd|A|fm|am|Mm|AU|mum|nm|pc|ly|pm)"></xsd:pattern>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="POSITIONTYPE">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[+-]?\d+\.?\d*\s*(m|mm|cm|dm|dam|hm|km|ft|in|mi|NM|yd|A|fm|am|Mm|AU|mum|nm|pc|ly|pm)"></xsd:pattern>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="SPEEDTYPE">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[+-]?\d+\.?\d*\s*(m/s|km/h|mi/h|ft/s|kt|m/h|km/s|mi/min|in/min|ft/min|ft/h|mi/s|in/h|in/s)"></xsd:pattern>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="ACCELERATIONTYPE">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[+-]?\d+\.?\d*\s*(km/h\^2|m/s\^2|ft/s\^2|in/s\^2|mi/h\^2|mi/s\^2|kt/s|mi/h/s|g|Gal)"></xsd:pattern>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="AREATYPE">
    <xsd:restriction base="xsd:string">
      <xsd:pattern
        value="[+-]?\d+\.?\d*\s*(m\^2|km\^2|cm\^2|mm\^2|are|a|ha|mi\^2|ft\^2|in\^2|yd\^2|acre|ac|Mm\^2|am\^2|nm\^2|mum\^2|fm\^2|dam\^2|ca|dm\^2|pm\^2|hm\^2|Nmi\^2)"></xsd:pattern>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="VOLUMETYPE">
    <xsd:restriction base="xsd:string">
      <xsd:pattern
        value="[+-]?\d+\.?\d*\s*(m\^3|dm\^3|L|cm\^3|km\^3|mi\^3|ft\^3|in\^3|yd\^3|gal\(US\)|gal\(imp\)|US fl oz|fl oz \(imp\)|pt\(US fl\)|pt \(imp\)|qt\(US fl\)|qt\(imp\)|Mm\^3|am\^3|mm\^3|pc\^3|fm\^3|mum\^3|ly\^3|pm\^3|nm\^3|dam\^3|hm\^3)"></xsd:pattern>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="ANGLETYPE">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[+-]?\d+\.?\d*\s*(rad|deg|\'|&quot;|grad|c\'|c&quot;|\%)"></xsd:pattern>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="DIRECTIONTYPE">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[+-]?\d+\.?\d*\s*(North\(rad\)|East\(rad\)|North\(deg\)|East\(deg\))"></xsd:pattern>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="ANGLESOLIDTYPE">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[+-]?\d+\.?\d*\s*(sr|sq\.deg)"></xsd:pattern>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="MASSTYPE">
    <xsd:restriction base="xsd:string">
      <xsd:pattern
        value="[+-]?\d+\.?\d*\s*(kg|g|lb|oz|long tn|sh tn|t|mts_t|Da|MeV|fg|Tg|EeV|mg|GeV|mug|Gg|Pg|mueV|keV|pg|ng|meV|PeV|TeV|eV|Mg)"></xsd:pattern>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="DENSITYTYPE">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[+-]?\d+\.?\d*\s*(kg/m\^3|g/cm\^3)"></xsd:pattern>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="FREQUENCYTYPE">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[+-]?\d+\.?\d*\s*(Hz|kHz|MHz|GHz|THz|rpm|/ms|/s|/min|/h|/day|/wk|/fs|/ns|/mus|/ps|/as)"></xsd:pattern>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="FLOWMASSTYPE">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[+-]?\d+\.?\d*\s*(kg/s|lb/s)"></xsd:pattern>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="FLOWVOLUMETYPE">
    <xsd:restriction base="xsd:string">
      <xsd:pattern
        value="[+-]?\d+\.?\d*\s*(m\^3/s|m\^3/min|m\^3/h|m\^3/day|L/s|L/min|L/h|L/day|ft\^3/s|ft\^3/min|in\^3/s|in\^3/min|gal/s|gal/min|gal/h|gal/day)"></xsd:pattern>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="FORCETYPE">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[+-]?\d+\.?\d*\s*(N|dyn|kgf|ozf|lbf|tnf|sn)"></xsd:pattern>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="PRESSURETYPE">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[+-]?\d+\.?\d*\s*(Pa|hPa|kPa|atm|Torr|at|Ba|bar|mbar|cmHg|mmHg|ftHg|inHg|kgf/mm\^2|lbf/ft\^2|lbf/in\^2|pz)"></xsd:pattern>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="TORQUETYPE">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[+-]?\d+\.?\d*\s*(N\.m|m\.kgf|lbf\.ft|lbf\.in)"></xsd:pattern>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="POWERTYPE">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[+-]?\d+\.?\d*\s*(W|kW|MW|GW|ft\.lbf/h|ft\.lbf/min|ft\.lbf/s|hp\(M\)|sn\.m/s|erg/s|fW|mW|nW|pW|PW|muW|TW)"></xsd:pattern>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="ENERGYTYPE">
    <xsd:restriction base="xsd:string">
      <xsd:pattern
        value="[+-]?\d+\.?\d*\s*(J|kJ|MJ|ft\.lbf|in\.lbf|BTU\(ISO\)|BTU\(IT\)|cal\(IT\)|kcal|Wh|kWh|MWh|GWh|TWh|mWh|muWh|eV|meV|keV|MeV|GeV|TeV|PeV|EeV|sn\.m|erg|pWh|mueV|mJ|GJ|PJ|cal|pJ|TJ|fWh|PWh|muJ|nJ|nWh)"></xsd:pattern>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="ELECTRICALCURRENTTYPE">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[+-]?\d+\.?\d*\s*(A|nA|muA|mA|kA|statA|abA|MA)"></xsd:pattern>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="ELECTRICALCHARGETYPE">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[+-]?\d+\.?\d*\s*(C|mAh|F|e|statC|Fr|esu|abC|emu|mC|pC|kAh|MAh|muC|nC|Ah)"></xsd:pattern>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="ELECTRICALPOTENTIALTYPE">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[+-]?\d+\.?\d*\s*(V|muV|mV|kV|MV|statV|abV|GV|nV)"></xsd:pattern>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="ELECTRICALRESISTANCETYPE">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[+-]?\d+\.?\d*\s*(Ohm|mOhm|kOhm|MOhm|muOhm|abOhm|nOhm|GOhm|stOhm)"></xsd:pattern>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="ABSOLUTETEMPERATURETYPE">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[+-]?\d+\.?\d*\s*(K|C|degC|F|degF|R|degR|Re|degRe)"></xsd:pattern>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="TEMPERATURETYPE">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[+-]?\d+\.?\d*\s*(K|C|degC|F|degF|R|degR|Re|degRe)"></xsd:pattern>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="LINEARDENSITYTYPE">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[+-]?\d+\.?\d*\s*(/m|/mm|/cm|/dm|/dam|/hm|/km|/ft|/in|/mi|/NM|/yd|/nm|/ly|/pm|/Mm|/A|/fm|/am|/pc|/mum|/AU)"></xsd:pattern>
    </xsd:restriction>
  </xsd:simpleType>

  <!-- ================================================================================================== -->
  <!-- ================================================= TYPES ========================================== -->
  <!-- ================================================================================================== -->

  <xsd:simpleType name="CLASSNAMETYPE">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="([A-Za-z_0-9$]+\.)*[A-Za-z_0-9$]+"></xsd:pattern>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="PERLENGTHTYPE">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="\d+\.?\d*\s*\/\s*(mm|cm|dm|m|dam|hm|km|mi|yd|ft)"></xsd:pattern>
    </xsd:restriction>
  </xsd:simpleType>

  <!-- Allows patterns like BEGIN | END | END-10m | 25m | 50% -->
  <xsd:simpleType name="LENGTHBEGINENDTYPE">
    <xsd:restriction base="xsd:string">
      <xsd:pattern
        value="BEGIN|END|END\-(\d+\.?\d*\s*(mm|cm|dm|m|dam|hm|km|mi|yd|ft))|(\
){0}(\d+\.?\d*\s*(mm|cm|dm|m|dam|hm|km|mi|yd|ft)|(\
){0}((\d(\.\d*)?)|(\d\d(\.\d*)?)|(100(\.\0*)?))\s*\%)"></xsd:pattern>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="FRACTIONTYPE">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="(0?\.\d*|1\.0*|1|0)|((\d(\.\d*)?)|(\d\d(\.\d*)?)|(100(\.\0*)?))\s*\%"></xsd:pattern>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="SIGNEDLENGTHTYPE">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[+-]?\d+\.?\d*\s*(mm|cm|dm|m|dam|hm|km|mi|yd|ft)"></xsd:pattern>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="VEHICLEINTENSITYTYPE">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="\d+\.?\d*\s*veh"></xsd:pattern>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="VEHICLEFREQUENCYTYPE">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="\d+\.?\d*\s*veh\s*\/\s*(ms|s|min|h|day|wk)"></xsd:pattern>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="COORDINATETYPE">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="\(\s*[+-]?\d+\.?\d*\s*,\s*[+-]?\d+\.?\d*(\s*,\s*[+-]?\d+\.?\d*)?\s*\)">
      </xsd:pattern>
      <xsd:whiteSpace value="collapse" />
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="COORDINATENOSPACETYPE">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="\([+-]?\d+\.?\d*,[+-]?\d+\.?\d*(,[+-]?\d+\.?\d*)?\)">
      </xsd:pattern>
      <xsd:whiteSpace value="collapse" />
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="COORDINATELISTTYPE">
    <xsd:list itemType="COORDINATENOSPACETYPE" />
  </xsd:simpleType>

  <xsd:simpleType name="LEFTRIGHTTYPE">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="L|LEFT|R|RIGHT|CLOCKWISE|COUNTERCLOCKWISE"></xsd:pattern>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="DISTANCECOSTTYPE">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="\d+\.?\d*\s*\/\s*(mm|cm|dm|m|dam|hm|km|mi|yd|ft)"></xsd:pattern>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="TIMECOSTTYPE">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="\d+\.?\d*\s*\/\s*(ms|s|min|h|day|wk)"></xsd:pattern>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="LANEKEEPINGTYPE">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="KEEPLEFT|KEEPRIGHT|KEEPLANE"></xsd:pattern>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="PRIORITYTYPE">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="PRIORITY|NONE|TURN_ON_RED|YIELD|STOP|ALL_STOP|BUS_STOP"></xsd:pattern>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="OVERTAKINGTYPE">
    <xsd:restriction base="xsd:string">
      <xsd:pattern
        value="LEFTONLY|RIGHTONLY|NONE|BOTH|SAMELANELEFT|SAMELANERIGHT|SAMELANEBOTH|LEFTALWAYS\s+RIGHTJAM|RIGHTALWAYS\s+LEFTJAM|(\
{0})LEFTALWAYS\s+RIGHTSPEED\(\d+\.?\d*\s*(km/h|m/s|mi/h|ft/s)\)|(\
{0})RIGHTALWAYS\s+LEFTSPEED\(\d+\.?\d*\s*(km/h|m/s|mi/h|ft/s)\)|(\
{0})LEFTSET\(\s*\[\s*[A-Za-z_0-9$]+(\s*,\s*[A-Za-z_0-9$]+)*\s*\]\s*OVERTAKE\s*\[\s*[A-Za-z_0-9$]+(\s+[A-Za-z_0-9$]+)*\s*\]\s*\)|(\
{0})LEFTSETRIGHTJAM\(\s*\[\s*[A-Za-z_0-9$]+(\s*,\s*[A-Za-z_0-9$]+)*\s*\]\s*OVERTAKE\s*\[\s*[A-Za-z_0-9$]+(\s+[A-Za-z_0-9$]+)*\s*\]\s*\)|(\
{0})LEFTSET\(\s*\[\s*[A-Za-z_0-9$]+(\s*,\s*[A-Za-z_0-9$]+)*\s*\]\s*OVERTAKE\s*\[\s*[A-Za-z_0-9$]+(\s+[A-Za-z_0-9$]+)*\s*\]\s*\)(\
{0})\s*RIGHTSPEED\(\d+\.?\d*\s*(km/h|m/s|mi/h|ft/s)\)|(\
{0})RIGHTSET\(\s*\[\s*[A-Za-z_0-9$]+(\s*,\s*[A-Za-z_0-9$]+)*\s*\]\s*OVERTAKE\s*\[\s*[A-Za-z_0-9$]+(\s+[A-Za-z_0-9$]+)*\s*\]\s*\)|(\
{0})RIGHTSETLEFTJAM\(\s*\[\s*[A-Za-z_0-9$]+(\s*,\s*[A-Za-z_0-9$]+)*\s*\]\s*OVERTAKE\s*\[\s*[A-Za-z_0-9$]+(\s+[A-Za-z_0-9$]+)*\s*\]\s*\)|(\
{0})RIGHTSET\(\s*\[\s*[A-Za-z_0-9$]+(\s*,\s*[A-Za-z_0-9$]+)*\s*\]\s*OVERTAKE\s*\[\s*[A-Za-z_0-9$]+(\s+[A-Za-z_0-9$]+)*\s*\]\s*\)(\
{0})\s*LEFTSPEED\(\d+\.?\d*\s*(km/h|m/s|mi/h|ft/s)\)"></xsd:pattern>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="GTUPOSITIONTYPE">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="FRONT|REAR|REFERENCE"></xsd:pattern>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="STRIPETYPE">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="SOLID|DASHED|BLOCKED|DOUBLE|LEFTONLY|RIGHTONLY"></xsd:pattern>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="DRIVINGDIRECTIONTYPE">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="FORWARD|BACKWARD|BOTH|NONE"></xsd:pattern>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="INTERPOLATIONTYPE">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="STEPWISE|LINEAR"></xsd:pattern>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="COLORTYPE">
    <xsd:restriction base="xsd:string">
      <xsd:pattern
        value="(\
{0})WHITE|LIGHT_GRAY|GRAY|DARK_GRAY|BLACK|RED|PINK|ORANGE|YELLOW|GREEN|MAGENTA|CYAN|BLUE(\
{0})|\#[(0-9)|(A-F)]{6}(\
{0})|RGB\(0*([1-9]?\d|1\d\d|2[0-4]\d|25[0-5])\s*\,\s*(\
{0})0*([1-9]?\d|1\d\d|2[0-4]\d|25[0-5])\s*\,\s*(\
{0})0*([1-9]?\d|1\d\d|2[0-4]\d|25[0-5])\)"></xsd:pattern>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="CONTDISTTYPE">
    <xsd:restriction base="xsd:string">
      <xsd:pattern
        value="(\
{0})(CONST|CONSTANT)\(\s*\d+\.?\d*\s*\)(\
{0})|(EXPO|EXPONENTIAL)\(\s*\d+\.?\d*\s*\)(\
{0})|(TRIA|TRIANGULAR)\(\s*\d+\.?\d*\s*,\s*\d+\.?\d*\s*,\s*\d+\.?\d*\s*\)(\
{0})|(NORM|NORMAL)\(\s*\d+\.?\d*\s*,\s*\d+\.?\d*\s*\)(\
{0})|BETA\(\s*\d+\.?\d*\s*,\s*\d+\.?\d*\s*\)(\
{0})|ERLANG\(\s*\d+\s*,\s*\d+\.?\d*\s*\)(\
{0})|GAMMA\(\s*\d+\.?\d*\s*,\s*\d+\.?\d*\s*\)(\
{0})|(LOGN|LOGNORMAL)\(\s*\d+\.?\d*\s*,\s*\d+\.?\d*\s*\)(\
{0})|PEARSON5\(\s*\d+\.?\d*\s*,\s*\d+\.?\d*\s*\)(\
{0})|PEARSON6\(\s*\d+\.?\d*\s*,\s*\d+\.?\d*\s*,\s*\d+\.?\d*\s*\)(\
{0})|(UNIF|UNIFORM)\(\s*\d+\.?\d*\s*,\s*\d+\.?\d*\s*\)(\
{0})|(WEIB|WEIBULL)\(\s*\d+\.?\d*\s*,\s*\d+\.?\d*\s*\)">
      </xsd:pattern>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="LENGTHDISTTYPE">
    <xsd:restriction base="xsd:string">
      <xsd:pattern
        value="(\
{0})(CONST|CONSTANT)\(\s*\d+\.?\d*\s*\)\s*(mm|cm|dm|m|dam|hm|km|mi|yd|ft)(\
{0})|(EXPO|EXPONENTIAL)\(\s*\d+\.?\d*\s*\)\s*(mm|cm|dm|m|dam|hm|km|mi|yd|ft)(\
{0})|(TRIA|TRIANGULAR)\(\s*\d+\.?\d*\s*,\s*\d+\.?\d*\s*,\s*\d+\.?\d*\s*\)\s*(mm|cm|dm|m|dam|hm|km|mi|yd|ft)(\
{0})|(NORM|NORMAL)\(\s*\d+\.?\d*\s*,\s*\d+\.?\d*\s*\)\s*(mm|cm|dm|m|dam|hm|km|mi|yd|ft)(\
{0})|BETA\(\s*\d+\.?\d*\s*,\s*\d+\.?\d*\s*\)\s*(mm|cm|dm|m|dam|hm|km|mi|yd|ft)(\
{0})|ERLANG\(\s*\d+\s*,\s*\d+\.?\d*\s*\)\s*(mm|cm|dm|m|dam|hm|km|mi|yd|ft)(\
{0})|GAMMA\(\s*\d+\.?\d*\s*,\s*\d+\.?\d*\s*\)\s*(mm|cm|dm|m|dam|hm|km|mi|yd|ft)(\
{0})|(LOGN|LOGNORMAL)\(\s*\d+\.?\d*\s*,\s*\d+\.?\d*\s*\)\s*(mm|cm|dm|m|dam|hm|km|mi|yd|ft)(\
{0})|PEARSON5\(\s*\d+\.?\d*\s*,\s*\d+\.?\d*\s*\)\s*(mm|cm|dm|m|dam|hm|km|mi|yd|ft)(\
{0})|PEARSON6\(\s*\d+\.?\d*\s*,\s*\d+\.?\d*\s*,\s*\d+\.?\d*\s*\)\s*(mm|cm|dm|m|dam|hm|km|mi|yd|ft)(\
{0})|(UNIF|UNIFORM)\(\s*\d+\.?\d*\s*,\s*\d+\.?\d*\s*\)\s*(mm|cm|dm|m|dam|hm|km|mi|yd|ft)(\
{0})|(WEIB|WEIBULL)\(\s*\d+\.?\d*\s*,\s*\d+\.?\d*\s*\)\s*(mm|cm|dm|m|dam|hm|km|mi|yd|ft)">
      </xsd:pattern>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="SPEEDDISTTYPE">
    <xsd:restriction base="xsd:string">
      <xsd:pattern
        value="(\
{0})(CONST|CONSTANT)\(\s*\d+\.?\d*\s*\)\s*(km/h|m/s|mi/h|ft/s)(\
{0})|(EXPO|EXPONENTIAL)\(\s*\d+\.?\d*\s*\)\s*(km/h|m/s|mi/h|ft/s)(\
{0})|(TRIA|TRIANGULAR)\(\s*\d+\.?\d*\s*,\s*\d+\.?\d*\s*,\s*\d+\.?\d*\s*\)\s*(km/h|m/s|mi/h|ft/s)(\
{0})|(NORM|NORMAL)\(\s*\d+\.?\d*\s*,\s*\d+\.?\d*\s*\)\s*(km/h|m/s|mi/h|ft/s)(\
{0})|BETA\(\s*\d+\.?\d*\s*,\s*\d+\.?\d*\s*\)\s*(km/h|m/s|mi/h|ft/s)(\
{0})|ERLANG\(\s*\d+\s*,\s*\d+\.?\d*\s*\)\s*(km/h|m/s|mi/h|ft/s)(\
{0})|GAMMA\(\s*\d+\.?\d*\s*,\s*\d+\.?\d*\s*\)\s*(km/h|m/s|mi/h|ft/s)(\
{0})|(LOGN|LOGNORMAL)\(\s*\d+\.?\d*\s*,\s*\d+\.?\d*\s*\)\s*(km/h|m/s|mi/h|ft/s)(\
{0})|PEARSON5\(\s*\d+\.?\d*\s*,\s*\d+\.?\d*\s*\)\s*(km/h|m/s|mi/h|ft/s)(\
{0})|PEARSON6\(\s*\d+\.?\d*\s*,\s*\d+\.?\d*\s*,\s*\d+\.?\d*\s*\)\s*(km/h|m/s|mi/h|ft/s)(\
{0})|(UNIF|UNIFORM)\(\s*\d+\.?\d*\s*,\s*\d+\.?\d*\s*\)\s*(km/h|m/s|mi/h|ft/s)(\
{0})|(WEIB|WEIBULL)\(\s*\d+\.?\d*\s*,\s*\d+\.?\d*\s*\)\s*(km/h|m/s|mi/h|ft/s)">
      </xsd:pattern>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="TIMEDISTTYPE">
    <xsd:restriction base="xsd:string">
      <xsd:pattern
        value="(\
{0})(CONST|CONSTANT)\(\s*\d+\.?\d*\s*\)\s*(ms|s|min|h|day|wk)(\
{0})|(EXPO|EXPONENTIAL)\(\s*\d+\.?\d*\s*\)\s*(ms|s|min|h|day|wk)(\
{0})|(TRIA|TRIANGULAR)\(\s*\d+\.?\d*\s*,\s*\d+\.?\d*\s*,\s*\d+\.?\d*\s*\)\s*(ms|s|min|h|day|wk)(\
{0})|(NORM|NORMAL)\(\s*\d+\.?\d*\s*,\s*\d+\.?\d*\s*\)\s*(ms|s|min|h|day|wk)(\
{0})|BETA\(\s*\d+\.?\d*\s*,\s*\d+\.?\d*\s*\)\s*(ms|s|min|h|day|wk)(\
{0})|ERLANG\(\s*\d+\s*,\s*\d+\.?\d*\s*\)\s*(ms|s|min|h|day|wk)(\
{0})|GAMMA\(\s*\d+\.?\d*\s*,\s*\d+\.?\d*\s*\)\s*(ms|s|min|h|day|wk)(\
{0})|(LOGN|LOGNORMAL)\(\s*\d+\.?\d*\s*,\s*\d+\.?\d*\s*\)\s*(ms|s|min|h|day|wk)(\
{0})|PEARSON5\(\s*\d+\.?\d*\s*,\s*\d+\.?\d*\s*\)\s*(ms|s|min|h|day|wk)(\
{0})|PEARSON6\(\s*\d+\.?\d*\s*,\s*\d+\.?\d*\s*,\s*\d+\.?\d*\s*\)\s*(ms|s|min|h|day|wk)(\
{0})|(UNIF|UNIFORM)\(\s*\d+\.?\d*\s*,\s*\d+\.?\d*\s*\)\s*(ms|s|min|h|day|wk)(\
{0})|(WEIB|WEIBULL)\(\s*\d+\.?\d*\s*,\s*\d+\.?\d*\s*\)\s*(ms|s|min|h|day|wk)">
      </xsd:pattern>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="DURATIONDISTTYPE">
    <xsd:restriction base="xsd:string">
      <xsd:pattern
        value="(\
{0})(CONST|CONSTANT)\(\s*\d+\.?\d*\s*\)\s*(ms|s|min|h|day|wk)(\
{0})|(EXPO|EXPONENTIAL)\(\s*\d+\.?\d*\s*\)\s*(ms|s|min|h|day|wk)(\
{0})|(TRIA|TRIANGULAR)\(\s*\d+\.?\d*\s*,\s*\d+\.?\d*\s*,\s*\d+\.?\d*\s*\)\s*(ms|s|min|h|day|wk)(\
{0})|(NORM|NORMAL)\(\s*\d+\.?\d*\s*,\s*\d+\.?\d*\s*\)\s*(ms|s|min|h|day|wk)(\
{0})|BETA\(\s*\d+\.?\d*\s*,\s*\d+\.?\d*\s*\)\s*(ms|s|min|h|day|wk)(\
{0})|ERLANG\(\s*\d+\s*,\s*\d+\.?\d*\s*\)\s*(ms|s|min|h|day|wk)(\
{0})|GAMMA\(\s*\d+\.?\d*\s*,\s*\d+\.?\d*\s*\)\s*(ms|s|min|h|day|wk)(\
{0})|(LOGN|LOGNORMAL)\(\s*\d+\.?\d*\s*,\s*\d+\.?\d*\s*\)\s*(ms|s|min|h|day|wk)(\
{0})|PEARSON5\(\s*\d+\.?\d*\s*,\s*\d+\.?\d*\s*\)\s*(ms|s|min|h|day|wk)(\
{0})|PEARSON6\(\s*\d+\.?\d*\s*,\s*\d+\.?\d*\s*,\s*\d+\.?\d*\s*\)\s*(ms|s|min|h|day|wk)(\
{0})|(UNIF|UNIFORM)\(\s*\d+\.?\d*\s*,\s*\d+\.?\d*\s*\)\s*(ms|s|min|h|day|wk)(\
{0})|(WEIB|WEIBULL)\(\s*\d+\.?\d*\s*,\s*\d+\.?\d*\s*\)\s*(ms|s|min|h|day|wk)">
      </xsd:pattern>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:complexType name="PARAMETERTYPE">
    <xsd:attribute name="TYPE" use="required" >
      <xsd:simpleType>
        <xsd:restriction base="xsd:string">
          <xsd:pattern value="(\
{0})CLASS|STRING|DOUBLE|INTEGER|(\
{0})LENGTH|POSITION|DURATION|TIME|SPEED|ACCELERATION|FREQUENCY|LINEARDENSITY|(\
{0})FRACTION" />
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
    <xsd:attribute name="VALUE" type="xsd:string" use="required" />
    <xsd:attribute name="NAME" type="xsd:string" use="required" />
    <xsd:attribute name="CLASS" type="CLASSNAMETYPE" use="optional" />
  </xsd:complexType>

</xsd:schema>