ots-xsd/src/main/resources/xsd/1.01.02/ots-types.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.opentrafficsim.org/ots" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:ots="http://www.opentrafficsim.org/ots" xmlns="http://www.opentrafficsim.org/ots" elementFormDefault="qualified">

  <!-- ========================================================================================= -->
  <!-- ==================================== DJUNITS UNIT TYPES ================================= -->
  <!-- ========================================================================================= -->

  <xsd:simpleType name="DURATIONUNITTYPE">
    <xsd:restriction base="xsd:string">
      <xsd:pattern
        value="(ms|msec|s|sec|m|min|h|hr|hour|day|wk|week|as|asec|ns|nsec|mus|musec|fs|fsec|ps|psec)"></xsd:pattern>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="TIMEUNITTYPE">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="(ms|msec|s|sec|m|min|h|hr|hour|d|day|wk|week|mus|musec)"></xsd:pattern>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="LENGTHUNITTYPE">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="(m|mm|cm|dm|dam|hm|km|ft|in|mi|NM|yd|A|fm|am|Mm|AU|mum|nm|pc|ly|pm)"></xsd:pattern>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="POSITIONUNITTYPE">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="(m|mm|cm|dm|dam|hm|km|ft|in|mi|NM|yd|A|fm|am|Mm|AU|mum|nm|pc|ly|pm)"></xsd:pattern>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="SPEEDUNITTYPE">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="(m/s|km/h|mi/h|ft/s|kt|m/h|km/s|mi/min|in/min|ft/min|ft/h|mi/s|in/h|in/s)"></xsd:pattern>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="ACCELERATIONUNITTYPE">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="(km/h\^2|m/s\^2|ft/s\^2|in/s\^2|mi/h\^2|mi/s\^2|kt/s|mi/h/s|g|Gal)"></xsd:pattern>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="AREAUNITTYPE">
    <xsd:restriction base="xsd:string">
      <xsd:pattern
        value="(m\^2|km\^2|cm\^2|mm\^2|are|a|ha|mi\^2|ft\^2|in\^2|yd\^2|acre|ac|Mm\^2|am\^2|nm\^2|mum\^2|fm\^2|dam\^2|ca|dm\^2|pm\^2|hm\^2|Nmi\^2)"></xsd:pattern>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="VOLUMEUNITTYPE">
    <xsd:restriction base="xsd:string">
      <xsd:pattern
        value="(m\^3|dm\^3|L|cm\^3|km\^3|mi\^3|ft\^3|in\^3|yd\^3|gal\(US\)|gal\(imp\)|US fl oz|fl oz \(imp\)|pt\(US fl\)|pt \(imp\)|qt\(US fl\)|qt\(imp\)|Mm\^3|am\^3|mm\^3|pc\^3|fm\^3|mum\^3|ly\^3|pm\^3|nm\^3|dam\^3|hm\^3)"></xsd:pattern>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="ANGLEUNITTYPE">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="(rad|deg|\'|&quot;|grad|c\'|c&quot;|\%)"></xsd:pattern>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="DIRECTIONUNITTYPE">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="(North\(rad\)|East\(rad\)|North\(deg\)|East\(deg\))"></xsd:pattern>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="ANGLESOLIDUNITTYPE">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="(sr|sq\.deg)"></xsd:pattern>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="MASSUNITTYPE">
    <xsd:restriction base="xsd:string">
      <xsd:pattern
        value="(kg|g|lb|oz|long tn|sh tn|t|mts_t|Da|MeV|fg|Tg|EeV|mg|GeV|mug|Gg|Pg|mueV|keV|pg|ng|meV|PeV|TeV|eV|Mg)"></xsd:pattern>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="DENSITYUNITTYPE">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="(kg/m\^3|g/cm\^3)"></xsd:pattern>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="FREQUENCYUNITTYPE">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="(Hz|kHz|MHz|GHz|THz|rpm|/ms|/s|/min|/h|/day|/wk|/fs|/ns|/mus|/ps|/as)"></xsd:pattern>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="FLOWMASSUNITTYPE">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="(kg/s|lb/s)"></xsd:pattern>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="FLOWVOLUMEUNITTYPE">
    <xsd:restriction base="xsd:string">
      <xsd:pattern
        value="(m\^3/s|m\^3/min|m\^3/h|m\^3/day|L/s|L/min|L/h|L/day|ft\^3/s|ft\^3/min|in\^3/s|in\^3/min|gal/s|gal/min|gal/h|gal/day)"></xsd:pattern>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="FORCEUNITTYPE">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="(N|dyn|kgf|ozf|lbf|tnf|sn)"></xsd:pattern>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="PRESSUREUNITTYPE">
    <xsd:restriction base="xsd:string">
      <xsd:pattern
        value="(Pa|hPa|kPa|atm|Torr|at|Ba|bar|mbar|cmHg|mmHg|ftHg|inHg|kgf/mm\^2|lbf/ft\^2|lbf/in\^2|pz)"></xsd:pattern>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="TORQUEUNITTYPE">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="(N\.m|m\.kgf|lbf\.ft|lbf\.in)"></xsd:pattern>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="POWERUNITTYPE">
    <xsd:restriction base="xsd:string">
      <xsd:pattern
        value="(W|kW|MW|GW|ft\.lbf/h|ft\.lbf/min|ft\.lbf/s|hp\(M\)|sn\.m/s|erg/s|fW|mW|nW|pW|PW|muW|TW)"></xsd:pattern>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="ENERGYUNITTYPE">
    <xsd:restriction base="xsd:string">
      <xsd:pattern
        value="(J|kJ|MJ|ft\.lbf|in\.lbf|BTU\(ISO\)|BTU\(IT\)|cal\(IT\)|kcal|Wh|kWh|MWh|GWh|TWh|mWh|muWh|eV|meV|keV|MeV|GeV|TeV|PeV|EeV|sn\.m|erg|pWh|mueV|mJ|GJ|PJ|cal|pJ|TJ|fWh|PWh|muJ|nJ|nWh)"></xsd:pattern>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="ELECTRICALCURRENTUNITTYPE">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="(A|nA|muA|mA|kA|statA|abA|MA)"></xsd:pattern>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="ELECTRICALCHARGEUNITTYPE">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="(C|mAh|F|e|statC|Fr|esu|abC|emu|mC|pC|kAh|MAh|muC|nC|Ah)"></xsd:pattern>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="ELECTRICALPOTENTIALUNITTYPE">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="(V|muV|mV|kV|MV|statV|abV|GV|nV)"></xsd:pattern>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="ELECTRICALRESISTANCEUNITTYPE">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="(Ohm|mOhm|kOhm|MOhm|muOhm|abOhm|nOhm|GOhm|stOhm)"></xsd:pattern>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="ABSOLUTETEMPERATUREUNITTYPE">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="(K|C|degC|F|degF|R|degR|Re|degRe)"></xsd:pattern>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="TEMPERATUREUNITTYPE">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="(K|C|degC|F|degF|R|degR|Re|degRe)"></xsd:pattern>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="LINEARDENSITYUNITTYPE">
    <xsd:restriction base="xsd:string">
      <xsd:pattern
        value="(/m|/mm|/cm|/dm|/dam|/hm|/km|/ft|/in|/mi|/NM|/yd|/nm|/ly|/pm|/Mm|/A|/fm|/am|/pc|/mum|/AU)"></xsd:pattern>
    </xsd:restriction>
  </xsd:simpleType>

  <!-- ========================================================================================= -->
  <!-- ================================== DJUNITS SCALAR TYPES ================================= -->
  <!-- ========================================================================================= -->

  <xsd:simpleType name="DURATIONTYPE">
    <xsd:restriction base="xsd:string">
      <xsd:pattern
        value="[+-]?\d+\.?\d*\s*(ms|msec|s|sec|m|min|h|hr|hour|day|wk|week|as|asec|ns|nsec|mus|musec|fs|fsec|ps|psec)"></xsd:pattern>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="TIMETYPE">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[+-]?\d+\.?\d*\s*(ms|msec|s|sec|m|min|h|hr|hour|d|day|wk|week|mus|musec)"></xsd:pattern>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="LENGTHTYPE">
    <xsd:restriction base="xsd:string">
      <xsd:pattern
        value="[+-]?\d+\.?\d*\s*(m|mm|cm|dm|dam|hm|km|ft|in|mi|NM|yd|A|fm|am|Mm|AU|mum|nm|pc|ly|pm)"></xsd:pattern>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="POSITIONTYPE">
    <xsd:restriction base="xsd:string">
      <xsd:pattern
        value="[+-]?\d+\.?\d*\s*(m|mm|cm|dm|dam|hm|km|ft|in|mi|NM|yd|A|fm|am|Mm|AU|mum|nm|pc|ly|pm)"></xsd:pattern>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="SPEEDTYPE">
    <xsd:restriction base="xsd:string">
      <xsd:pattern
        value="[+-]?\d+\.?\d*\s*(m/s|km/h|mi/h|ft/s|kt|m/h|km/s|mi/min|in/min|ft/min|ft/h|mi/s|in/h|in/s)"></xsd:pattern>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="ACCELERATIONTYPE">
    <xsd:restriction base="xsd:string">
      <xsd:pattern
        value="[+-]?\d+\.?\d*\s*(km/h\^2|m/s\^2|ft/s\^2|in/s\^2|mi/h\^2|mi/s\^2|kt/s|mi/h/s|g|Gal)"></xsd:pattern>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="AREATYPE">
    <xsd:restriction base="xsd:string">
      <xsd:pattern
        value="[+-]?\d+\.?\d*\s*(m\^2|km\^2|cm\^2|mm\^2|are|a|ha|mi\^2|ft\^2|in\^2|yd\^2|acre|ac|Mm\^2|am\^2|nm\^2|mum\^2|fm\^2|dam\^2|ca|dm\^2|pm\^2|hm\^2|Nmi\^2)"></xsd:pattern>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="VOLUMETYPE">
    <xsd:restriction base="xsd:string">
      <xsd:pattern
        value="[+-]?\d+\.?\d*\s*(m\^3|dm\^3|L|cm\^3|km\^3|mi\^3|ft\^3|in\^3|yd\^3|gal\(US\)|gal\(imp\)|US fl oz|fl oz \(imp\)|pt\(US fl\)|pt \(imp\)|qt\(US fl\)|qt\(imp\)|Mm\^3|am\^3|mm\^3|pc\^3|fm\^3|mum\^3|ly\^3|pm\^3|nm\^3|dam\^3|hm\^3)"></xsd:pattern>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="ANGLETYPE">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[+-]?\d+\.?\d*\s*(rad|deg|\'|&quot;|grad|c\'|c&quot;|\%)"></xsd:pattern>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="DIRECTIONTYPE">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[+-]?\d+\.?\d*\s*(North\(rad\)|East\(rad\)|North\(deg\)|East\(deg\))"></xsd:pattern>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="ANGLESOLIDTYPE">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[+-]?\d+\.?\d*\s*(sr|sq\.deg)"></xsd:pattern>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="MASSTYPE">
    <xsd:restriction base="xsd:string">
      <xsd:pattern
        value="[+-]?\d+\.?\d*\s*(kg|g|lb|oz|long tn|sh tn|t|mts_t|Da|MeV|fg|Tg|EeV|mg|GeV|mug|Gg|Pg|mueV|keV|pg|ng|meV|PeV|TeV|eV|Mg)"></xsd:pattern>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="DENSITYTYPE">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[+-]?\d+\.?\d*\s*(kg/m\^3|g/cm\^3)"></xsd:pattern>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="FREQUENCYTYPE">
    <xsd:restriction base="xsd:string">
      <xsd:pattern
        value="[+-]?\d+\.?\d*\s*(Hz|kHz|MHz|GHz|THz|rpm|/ms|/s|/min|/h|/day|/wk|/fs|/ns|/mus|/ps|/as)"></xsd:pattern>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="FLOWMASSTYPE">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[+-]?\d+\.?\d*\s*(kg/s|lb/s)"></xsd:pattern>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="FLOWVOLUMETYPE">
    <xsd:restriction base="xsd:string">
      <xsd:pattern
        value="[+-]?\d+\.?\d*\s*(m\^3/s|m\^3/min|m\^3/h|m\^3/day|L/s|L/min|L/h|L/day|ft\^3/s|ft\^3/min|in\^3/s|in\^3/min|gal/s|gal/min|gal/h|gal/day)"></xsd:pattern>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="FORCETYPE">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[+-]?\d+\.?\d*\s*(N|dyn|kgf|ozf|lbf|tnf|sn)"></xsd:pattern>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="PRESSURETYPE">
    <xsd:restriction base="xsd:string">
      <xsd:pattern
        value="[+-]?\d+\.?\d*\s*(Pa|hPa|kPa|atm|Torr|at|Ba|bar|mbar|cmHg|mmHg|ftHg|inHg|kgf/mm\^2|lbf/ft\^2|lbf/in\^2|pz)"></xsd:pattern>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="TORQUETYPE">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[+-]?\d+\.?\d*\s*(N\.m|m\.kgf|lbf\.ft|lbf\.in)"></xsd:pattern>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="POWERTYPE">
    <xsd:restriction base="xsd:string">
      <xsd:pattern
        value="[+-]?\d+\.?\d*\s*(W|kW|MW|GW|ft\.lbf/h|ft\.lbf/min|ft\.lbf/s|hp\(M\)|sn\.m/s|erg/s|fW|mW|nW|pW|PW|muW|TW)"></xsd:pattern>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="ENERGYTYPE">
    <xsd:restriction base="xsd:string">
      <xsd:pattern
        value="[+-]?\d+\.?\d*\s*(J|kJ|MJ|ft\.lbf|in\.lbf|BTU\(ISO\)|BTU\(IT\)|cal\(IT\)|kcal|Wh|kWh|MWh|GWh|TWh|mWh|muWh|eV|meV|keV|MeV|GeV|TeV|PeV|EeV|sn\.m|erg|pWh|mueV|mJ|GJ|PJ|cal|pJ|TJ|fWh|PWh|muJ|nJ|nWh)"></xsd:pattern>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="ELECTRICALCURRENTTYPE">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[+-]?\d+\.?\d*\s*(A|nA|muA|mA|kA|statA|abA|MA)"></xsd:pattern>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="ELECTRICALCHARGETYPE">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[+-]?\d+\.?\d*\s*(C|mAh|F|e|statC|Fr|esu|abC|emu|mC|pC|kAh|MAh|muC|nC|Ah)"></xsd:pattern>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="ELECTRICALPOTENTIALTYPE">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[+-]?\d+\.?\d*\s*(V|muV|mV|kV|MV|statV|abV|GV|nV)"></xsd:pattern>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="ELECTRICALRESISTANCETYPE">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[+-]?\d+\.?\d*\s*(Ohm|mOhm|kOhm|MOhm|muOhm|abOhm|nOhm|GOhm|stOhm)"></xsd:pattern>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="ABSOLUTETEMPERATURETYPE">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[+-]?\d+\.?\d*\s*(K|C|degC|F|degF|R|degR|Re|degRe)"></xsd:pattern>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="TEMPERATURETYPE">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[+-]?\d+\.?\d*\s*(K|C|degC|F|degF|R|degR|Re|degRe)"></xsd:pattern>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="LINEARDENSITYTYPE">
    <xsd:restriction base="xsd:string">
      <xsd:pattern
        value="[+-]?\d+\.?\d*\s*(/m|/mm|/cm|/dm|/dam|/hm|/km|/ft|/in|/mi|/NM|/yd|/nm|/ly|/pm|/Mm|/A|/fm|/am|/pc|/mum|/AU)"></xsd:pattern>
    </xsd:restriction>
  </xsd:simpleType>

  <!-- ================================================================================================== -->
  <!-- ================================================= TYPES ========================================== -->
  <!-- ================================================================================================== -->

  <xsd:simpleType name="CLASSNAMETYPE">
    <xsd:annotation>
      <xsd:documentation source="description">
        Fully specified classname including the package.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="([A-Za-z_0-9$]+\.)*[A-Za-z_0-9$]+"></xsd:pattern>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="PERLENGTHTYPE">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="\d+\.?\d*\s*\/\s*(mm|cm|dm|m|dam|hm|km|mi|yd|ft)"></xsd:pattern>
    </xsd:restriction>
  </xsd:simpleType>

  <!-- Allows patterns like BEGIN | END | END-10m | 25m | 50% -->
  <xsd:simpleType name="LENGTHBEGINENDTYPE">
    <xsd:restriction base="xsd:string">
      <xsd:pattern
        value="BEGIN|END|END\-(\d+\.?\d*\s*(mm|cm|dm|m|dam|hm|km|mi|yd|ft))|(\
){0}(\d+\.?\d*\s*(mm|cm|dm|m|dam|hm|km|mi|yd|ft)|(\
){0}((\d(\.\d*)?)|(\d\d(\.\d*)?)|(100(\.\0*)?))\s*\%)"></xsd:pattern>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="FRACTIONTYPE">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="(0?\.\d*|1\.0*|1|0)|((\d(\.\d*)?)|(\d\d(\.\d*)?)|(100(\.\0*)?))\s*\%"></xsd:pattern>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="POSITIVEDOUBLE">
    <xsd:restriction base="xsd:decimal">
      <xsd:minExclusive value="0" />
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="SIGNEDLENGTHTYPE">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[+-]?\d+\.?\d*\s*(mm|cm|dm|m|dam|hm|km|mi|yd|ft)"></xsd:pattern>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="VEHICLEINTENSITYTYPE">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="\d+\.?\d*\s*veh"></xsd:pattern>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="VEHICLEFREQUENCYTYPE">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="\d+\.?\d*\s*veh\s*\/\s*(ms|s|min|h|day|wk)"></xsd:pattern>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="COORDINATETYPE">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="\(\s*[+-]?\d+\.?\d*\s*,\s*[+-]?\d+\.?\d*(\s*,\s*[+-]?\d+\.?\d*)?\s*\)">
      </xsd:pattern>
      <xsd:whiteSpace value="collapse" />
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="COORDINATENOSPACETYPE">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="\([+-]?\d+\.?\d*,[+-]?\d+\.?\d*(,[+-]?\d+\.?\d*)?\)">
      </xsd:pattern>
      <xsd:whiteSpace value="collapse" />
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="COORDINATELISTTYPE">
    <xsd:list itemType="COORDINATENOSPACETYPE" />
  </xsd:simpleType>

  <xsd:simpleType name="LEFTRIGHTTYPE">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="L|LEFT|R|RIGHT|CLOCKWISE|COUNTERCLOCKWISE"></xsd:pattern>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="DISTANCECOSTTYPE">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="\d+\.?\d*\s*\/\s*(mm|cm|dm|m|dam|hm|km|mi|yd|ft)"></xsd:pattern>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="TIMECOSTTYPE">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="\d+\.?\d*\s*\/\s*(ms|s|min|h|day|wk)"></xsd:pattern>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="LANEKEEPINGTYPE">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="KEEPLEFT|KEEPRIGHT|KEEPLANE"></xsd:pattern>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="PRIORITYTYPE">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="PRIORITY|NONE|TURN_ON_RED|YIELD|STOP|ALL_STOP|BUS_STOP"></xsd:pattern>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="GTUPOSITIONTYPE">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="FRONT|REAR|REFERENCE"></xsd:pattern>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="STRIPETYPE">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="SOLID|\||DASHED|\:|BLOCKED|DOUBLE|\|\||RIGHTTOLEFT|\|\:|LEFTTORIGHT|\:\|"></xsd:pattern>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="DRIVINGDIRECTIONTYPE">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="FORWARD|BACKWARD|BOTH|NONE"></xsd:pattern>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="GTUDIRECTIONTYPE">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="DIR_PLUS|DIR_MINUS"></xsd:pattern>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="INTERPOLATIONTYPE">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="STEPWISE|LINEAR"></xsd:pattern>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="COLORTYPE">
    <xsd:restriction base="xsd:string">
      <xsd:pattern
        value="(\
{0})WHITE|LIGHT_GRAY|GRAY|DARK_GRAY|BLACK|RED|PINK|ORANGE|YELLOW|GREEN|MAGENTA|CYAN|BLUE(\
{0})|\#[(0-9)|(A-F)]{6}(\
{0})|RGB\(0*([1-9]?\d|1\d\d|2[0-4]\d|25[0-5])\s*\,\s*(\
{0})0*([1-9]?\d|1\d\d|2[0-4]\d|25[0-5])\s*\,\s*(\
{0})0*([1-9]?\d|1\d\d|2[0-4]\d|25[0-5])\)"></xsd:pattern>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:complexType name="PARAMETERTYPE">
    <xsd:attribute name="TYPE" use="required">
      <xsd:simpleType>
        <xsd:restriction base="xsd:string">
          <xsd:pattern
            value="(\
{0})CLASS|STRING|DOUBLE|INTEGER|(\
{0})LENGTH|POSITION|DURATION|TIME|SPEED|ACCELERATION|FREQUENCY|LINEARDENSITY|(\
{0})FRACTION" />
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
    <xsd:attribute name="VALUE" type="xsd:string" use="required" />
    <xsd:attribute name="ID" type="xsd:string" use="required" />
    <xsd:attribute name="CLASS" type="CLASSNAMETYPE" use="optional" />
  </xsd:complexType>

  <!-- ========================================================================================= -->
  <!-- ==================================== DISTRIBUTION TYPES ================================= -->
  <!-- ========================================================================================= -->

  <xsd:simpleType name="DOUBLEPOSITIVEZERO">
    <xsd:restriction base="xsd:double">
      <xsd:minInclusive value="0.0"></xsd:minInclusive>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="DOUBLEPOSITIVE">
    <xsd:restriction base="xsd:double">
      <xsd:minExclusive value="0.0"></xsd:minExclusive>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:complexType name="CONTDISTTYPE">
    <xsd:choice>
      <xsd:element name="CONSTANT">
        <xsd:complexType>
          <xsd:attribute name="C" type="xsd:double" use="required" />
          <xsd:attribute name="RANDOMSTREAM" type="xsd:string" use="optional" default="default" />
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="EXPONENTIAL">
        <xsd:complexType>
          <xsd:attribute name="LAMBDA" type="DOUBLEPOSITIVE" use="required" />
          <xsd:attribute name="RANDOMSTREAM" type="xsd:string" use="optional" default="default" />
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="TRIANGULAR">
        <xsd:complexType>
          <xsd:attribute name="MIN" type="xsd:double" use="required" />
          <xsd:attribute name="MODE" type="xsd:double" use="required" />
          <xsd:attribute name="MAX" type="xsd:double" use="required" />
          <xsd:attribute name="RANDOMSTREAM" type="xsd:string" use="optional" default="default" />
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="NORMAL">
        <xsd:complexType>
          <xsd:attribute name="MU" type="xsd:double" use="required" />
          <xsd:attribute name="SIGMA" type="DOUBLEPOSITIVEZERO" use="required" />
          <xsd:attribute name="RANDOMSTREAM" type="xsd:string" use="optional" default="default" />
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="BETA">
        <xsd:complexType>
          <xsd:attribute name="ALPHA1" type="DOUBLEPOSITIVE" use="required" />
          <xsd:attribute name="ALPHA2" type="DOUBLEPOSITIVE" use="required" />
          <xsd:attribute name="RANDOMSTREAM" type="xsd:string" use="optional" default="default" />
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ERLANG">
        <xsd:complexType>
          <xsd:attribute name="MEAN" type="xsd:double" use="required" />
          <xsd:attribute name="K" type="xsd:positiveInteger" use="required" />
          <xsd:attribute name="RANDOMSTREAM" type="xsd:string" use="optional" default="default" />
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GAMMA">
        <xsd:complexType>
          <xsd:attribute name="ALPHA" type="xsd:double" use="required" />
          <xsd:attribute name="BETA" type="xsd:double" use="required" />
          <xsd:attribute name="RANDOMSTREAM" type="xsd:string" use="optional" default="default" />
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="LOGNORMAL">
        <xsd:complexType>
          <xsd:attribute name="MU" type="xsd:double" use="required" />
          <xsd:attribute name="SIGMA" type="DOUBLEPOSITIVE" use="required" />
          <xsd:attribute name="RANDOMSTREAM" type="xsd:string" use="optional" default="default" />
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="PEARSON5">
        <xsd:complexType>
          <xsd:attribute name="ALPHA" type="DOUBLEPOSITIVE" use="required" />
          <xsd:attribute name="BETA" type="DOUBLEPOSITIVE" use="required" />
          <xsd:attribute name="RANDOMSTREAM" type="xsd:string" use="optional" default="default" />
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="PEARSON6">
        <xsd:complexType>
          <xsd:attribute name="ALPHA1" type="DOUBLEPOSITIVE" use="required" />
          <xsd:attribute name="ALPHA2" type="DOUBLEPOSITIVE" use="required" />
          <xsd:attribute name="BETA" type="DOUBLEPOSITIVE" use="required" />
          <xsd:attribute name="RANDOMSTREAM" type="xsd:string" use="optional" default="default" />
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="UNIFORM">
        <xsd:complexType>
          <xsd:attribute name="MIN" type="xsd:double" use="required" />
          <xsd:attribute name="MAX" type="xsd:double" use="required" />
          <xsd:attribute name="RANDOMSTREAM" type="xsd:string" use="optional" default="default" />
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="WEIBULL">
        <xsd:complexType>
          <xsd:attribute name="ALPHA" type="DOUBLEPOSITIVE" use="required" />
          <xsd:attribute name="BETA" type="DOUBLEPOSITIVE" use="required" />
          <xsd:attribute name="RANDOMSTREAM" type="xsd:string" use="optional" default="default" />
        </xsd:complexType>
      </xsd:element>
    </xsd:choice>
  </xsd:complexType>

  <xsd:complexType name="LENGTHDISTTYPE">
    <xsd:complexContent>
      <xsd:extension base="CONTDISTTYPE">
        <xsd:attribute name="LENGTHUNIT" type="LENGTHUNITTYPE" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="POSITIONDISTTYPE">
    <xsd:complexContent>
      <xsd:extension base="CONTDISTTYPE">
        <xsd:attribute name="POSITIONUNIT" type="POSITIONUNITTYPE" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="SPEEDDISTTYPE">
    <xsd:complexContent>
      <xsd:extension base="CONTDISTTYPE">
        <xsd:attribute name="SPEEDUNIT" type="SPEEDUNITTYPE" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="ACCELERATIONDISTTYPE">
    <xsd:complexContent>
      <xsd:extension base="CONTDISTTYPE">
        <xsd:attribute name="ACCELERATIONUNIT" type="ACCELERATIONUNITTYPE" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="TIMEDISTTYPE">
    <xsd:complexContent>
      <xsd:extension base="CONTDISTTYPE">
        <xsd:attribute name="TIMEUNIT" type="TIMEUNITTYPE" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="DURATIONDISTTYPE">
    <xsd:complexContent>
      <xsd:extension base="CONTDISTTYPE">
        <xsd:attribute name="DURATIONUNIT" type="DURATIONUNITTYPE" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

</xsd:schema>