trunk/ots-xsd/src/main/resources/xsd/1.01.02/ots-definitions.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.opentrafficsim.org/ots"
  xmlns:ots="http://www.opentrafficsim.org/ots" xmlns="http://www.opentrafficsim.org/ots" xmlns:xi="http://www.w3.org/2001/XInclude"
  xmlns:fn="http://www.w3.org/2005/xpath-functions" elementFormDefault="qualified">

  <!-- http://www.w3.org/2009/01/xml.xsd -->
  <xsd:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="../ref/xml.xsd" />
  <!-- http://www.w3.org/2001/xinclude.xsd -->
  <xsd:import namespace="http://www.w3.org/2001/XInclude" schemaLocation="../ref/xinclude.xsd" />

  <xsd:include schemaLocation="ots-types.xsd" />

  <!-- ================================================================================================== -->
  <!-- =============================================== ELEMENTS ========================================= -->
  <!-- ================================================================================================== -->

  <xsd:element name="GTUTYPE">
    <xsd:complexType>
      <xsd:attribute name="ID" type="xsd:string" use="required" />
      <xsd:attribute name="PARENT" type="xsd:string" use="optional" />
      <xsd:attribute name="DEFAULT" type="xsd:boolean" use="optional" default="false" />
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="GTUTYPES">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="GTUTYPE" minOccurs="0" maxOccurs="unbounded" />
      </xsd:sequence>
      <xsd:attribute ref="xml:base" />
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="GTUTEMPLATE">
    <xsd:complexType>
      <xsd:attribute name="ID" type="xsd:string" use="required" />
      <xsd:attribute name="GTUTYPE" type="xsd:string" use="required" />
      <xsd:attribute name="LENGTHDIST" type="LENGTHDISTTYPE" use="required" />
      <xsd:attribute name="WIDTHDIST" type="LENGTHDISTTYPE" use="required" />
      <xsd:attribute name="MAXSPEEDDIST" type="SPEEDDISTTYPE" use="required" />
      <xsd:attribute name="MAXACCELERATIONDIST" type="ACCELERATIONDISTTYPE" use="optional" default="CONST(3.0) m/s^2" />
      <xsd:attribute name="MAXDECELERATIONDIST" type="ACCELERATIONDISTTYPE" use="optional" default="CONST(8.0) m/s^2" />
      <xsd:attribute name="DEFAULT" type="xsd:boolean" use="optional" default="false" />
      <xsd:attribute ref="xml:base" />
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="GTUTEMPLATES">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="GTUTEMPLATE" minOccurs="0" maxOccurs="unbounded" />
      </xsd:sequence>
      <xsd:attribute ref="xml:base" />
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="COMPATIBILITY">
    <xsd:complexType>
      <xsd:attribute name="GTUTYPE" type="xsd:string" use="required" />
      <xsd:attribute name="DIRECTION" type="DRIVINGDIRECTIONTYPE" use="optional" />
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="LANETYPE">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="COMPATIBILITY" minOccurs="0" maxOccurs="unbounded" />
      </xsd:sequence>
      <xsd:attribute name="ID" type="xsd:string" use="required" />
      <xsd:attribute name="PARENT" type="xsd:string" use="optional" />
      <xsd:attribute name="DEFAULT" type="xsd:boolean" use="optional" default="false" />
      <xsd:attribute ref="xml:base" />
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="LANETYPES">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="LANETYPE" minOccurs="0" maxOccurs="unbounded" />
      </xsd:sequence>
      <xsd:attribute ref="xml:base" />
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="LINKTYPE">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="COMPATIBILITY" minOccurs="0" maxOccurs="unbounded" />
        <xsd:element ref="SPEEDLIMIT" minOccurs="0" maxOccurs="unbounded" />
      </xsd:sequence>
      <xsd:attribute name="ID" type="xsd:string" use="required" />
      <xsd:attribute name="PARENT" type="xsd:string" use="optional" />
      <xsd:attribute name="DEFAULT" type="xsd:boolean" use="optional" default="false" />
      <xsd:attribute ref="xml:base" />
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="LINKTYPES">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="LINKTYPE" minOccurs="0" maxOccurs="unbounded" />
      </xsd:sequence>
      <xsd:attribute ref="xml:base" />
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="SPEEDLIMIT">
    <xsd:complexType>
      <xsd:attribute name="GTUTYPE" type="xsd:string" use="required" />
      <xsd:attribute name="LEGALSPEEDLIMIT" type="SPEEDTYPE" use="optional" />
    </xsd:complexType>
  </xsd:element>

  <xsd:complexType name="CROSSSECTIONELEMENT">
    <xsd:sequence>
      <xsd:choice minOccurs="0">
        <xsd:element name="CENTEROFFSET" type="SIGNEDLENGTHTYPE" />
        <xsd:element name="LEFTOFFSET" type="SIGNEDLENGTHTYPE" />
        <xsd:element name="RIGHTOFFSET" type="SIGNEDLENGTHTYPE" />
        <xsd:sequence>
          <xsd:choice>
            <xsd:element name="CENTEROFFSETSTART" type="SIGNEDLENGTHTYPE" />
            <xsd:element name="LEFTOFFSETSTART" type="SIGNEDLENGTHTYPE" />
            <xsd:element name="RIGHTOFFSETSTART" type="SIGNEDLENGTHTYPE" />
          </xsd:choice>
          <xsd:choice>
            <xsd:element name="CENTEROFFSETEND" type="SIGNEDLENGTHTYPE" />
            <xsd:element name="LEFTOFFSETEND" type="SIGNEDLENGTHTYPE" />
            <xsd:element name="RIGHTOFFSETEND" type="SIGNEDLENGTHTYPE" />
          </xsd:choice>
        </xsd:sequence>
      </xsd:choice>
      <xsd:choice>
        <xsd:element name="WIDTH" type="LENGTHTYPE" />
        <xsd:sequence>
          <xsd:element name="WIDTHSTART" type="SIGNEDLENGTHTYPE" />
          <xsd:element name="WIDTHEND" type="SIGNEDLENGTHTYPE" />
        </xsd:sequence>
      </xsd:choice>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="CSELANE">
    <xsd:complexContent>
      <xsd:extension base="CROSSSECTIONELEMENT">
        <xsd:sequence>
          <xsd:element ref="SPEEDLIMIT" minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
        <xsd:attribute name="ID" type="xsd:string" use="required" />
        <xsd:attribute name="LANETYPE" type="xsd:string" use="required" />
        <xsd:attribute name="DESIGNDIRECTION" type="xsd:boolean" use="required" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="CSENOTRAFFICLANE">
    <xsd:complexContent>
      <xsd:extension base="CROSSSECTIONELEMENT">
        <xsd:attribute name="ID" type="xsd:string" use="optional" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="CSESHOULDER">
    <xsd:complexContent>
      <xsd:extension base="CROSSSECTIONELEMENT">
        <xsd:attribute name="ID" type="xsd:string" use="optional" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="CSESTRIPE">
    <xsd:sequence>
      <xsd:choice minOccurs="0">
        <xsd:element name="CENTEROFFSET" type="SIGNEDLENGTHTYPE" />
        <xsd:element name="LEFTOFFSET" type="SIGNEDLENGTHTYPE" />
        <xsd:element name="RIGHTOFFSET" type="SIGNEDLENGTHTYPE" />
        <xsd:sequence>
          <xsd:choice>
            <xsd:element name="CENTEROFFSETSTART" type="SIGNEDLENGTHTYPE" />
            <xsd:element name="LEFTOFFSETSTART" type="SIGNEDLENGTHTYPE" />
            <xsd:element name="RIGHTOFFSETSTART" type="SIGNEDLENGTHTYPE" />
          </xsd:choice>
          <xsd:choice>
            <xsd:element name="CENTEROFFSETEND" type="SIGNEDLENGTHTYPE" />
            <xsd:element name="LEFTOFFSETEND" type="SIGNEDLENGTHTYPE" />
            <xsd:element name="RIGHTOFFSETEND" type="SIGNEDLENGTHTYPE" />
          </xsd:choice>
        </xsd:sequence>
      </xsd:choice>
      <xsd:element name="WIDTH" type="LENGTHTYPE" minOccurs="0" maxOccurs="1" />
    </xsd:sequence>
    <xsd:attribute name="ID" type="xsd:string" use="optional" />
    <xsd:attribute name="TYPE" type="STRIPETYPE" use="required" />
  </xsd:complexType>

  <xsd:element name="ROADLAYOUTS">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="ROADLAYOUT" minOccurs="0" maxOccurs="unbounded" />
      </xsd:sequence>
      <xsd:attribute ref="xml:base" />
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="ROADLAYOUT">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:sequence minOccurs="1" maxOccurs="unbounded">
          <xsd:choice>
            <xsd:element name="LANE" type="CSELANE" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="NOTRAFFICLANE" type="CSENOTRAFFICLANE" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="SHOULDER" type="CSESHOULDER" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="STRIPE" type="CSESTRIPE" minOccurs="0" maxOccurs="unbounded" />
          </xsd:choice>
        </xsd:sequence>
        <xsd:element ref="SPEEDLIMIT" minOccurs="0" maxOccurs="unbounded" />
      </xsd:sequence>
      <xsd:attribute name="ID" type="xsd:string" use="required" />
      <xsd:attribute name="LINKTYPE" type="xsd:string" use="required" />
      <xsd:attribute name="LANEKEEPING" type="LANEKEEPINGTYPE" use="optional" />
      <xsd:attribute ref="xml:base" />
    </xsd:complexType>
  </xsd:element>

  <!-- ================================================================================================== -->
  <!-- ============================================== DEFINITIONS ======================================= -->
  <!-- ================================================================================================== -->

  <xsd:element name="DEFINITIONS">
    <xsd:complexType>
      <xsd:sequence minOccurs="0" maxOccurs="unbounded">
        <xsd:element ref="xi:include" minOccurs="0" maxOccurs="unbounded" />
        <xsd:element ref="GTUTYPES" minOccurs="0" maxOccurs="unbounded" />
        <xsd:element ref="GTUTEMPLATES" minOccurs="0" maxOccurs="unbounded" />
        <xsd:element ref="LINKTYPES" minOccurs="0" maxOccurs="unbounded" />
        <xsd:element ref="LANETYPES" minOccurs="0" maxOccurs="unbounded" />
        <xsd:element ref="ROADLAYOUTS" minOccurs="0" maxOccurs="unbounded" />
      </xsd:sequence>
      <xsd:attribute ref="xml:base" />
    </xsd:complexType>
  </xsd:element>

</xsd:schema>
