ots-core/src/main/resources/ots-infra.xsd

<?xml version="1.1" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.opentrafficsim.org/ots-infra"
  xmlns="http://www.opentrafficsim.org/ots-infra" elementFormDefault="qualified">

  <!-- ================================================================================================== -->
  <!-- ================================================= TYPES ========================================== -->
  <!-- ================================================================================================== -->

  <xsd:simpleType name="SPEEDTYPE">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="\d+[\.]{0,1}\d*\s*(km/h|m/s|mi/h|y/s|ft/s)"></xsd:pattern>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="LENGTHTYPE">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="\d+[\.]{0,1}\d*\s*(mm|cm|dm|m|dam|hm|km|mi|y|ft)"></xsd:pattern>
    </xsd:restriction>
  </xsd:simpleType>

  <!-- Allows patterns like BEGIN | END | END-10m | 25m | 50% -->
  <xsd:simpleType name="LENGTHBEGINENDTYPE">
    <xsd:restriction base="xsd:string">
      <xsd:pattern
        value="BEGIN|END|END\-(\d+[\.]{0,1}\d*\s*(mm|cm|dm|m|dam|hm|km|mi|y|ft))|(\
){0}(\d+[\.]{0,1}\d*\s*(mm|cm|dm|m|dam|hm|km|mi|y|ft)|(\
){0}((\d(\.\d*){0,1})|(\d\d(\.\d*){0,1})|(100(\.\0*){0,1}))\s*\%)"></xsd:pattern>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="FRACTIONTYPE">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="((\d(\.\d*){0,1})|(\d\d(\.\d*){0,1})|(100(\.\0*){0,1}))\s*\%"></xsd:pattern>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="SIGNEDLENGTHTYPE">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="(\-|\+){0,1}\d+[\.]{0,1}\d*\s*(mm|cm|dm|m|dam|hm|km|mi|y|ft)"></xsd:pattern>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="TIMETYPE">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="\d+[\.]{0,1}\d*\s*(ms|s|m|min|h|hr|d|day|wk|week)"></xsd:pattern>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="COORDINATETYPE">
    <xsd:restriction base="xsd:string">
      <xsd:pattern
        value="\(\s*(\-|\+){0,1}\d+[\.]{0,1}\d*\s*\,\s*(\-|\+){0,1}\d+[\.]{0,1}\d*(\s*,\s*(\-|\+){0,1}\d+[\.]{0,1}\d*){0,1}\)">
      </xsd:pattern>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="LEFTRIGHTTYPE">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="L|LEFT|R|RIGHT|CLOCKWISE|COUNTERCLOCKWISE"></xsd:pattern>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="ANGLETYPE">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="(\-|\+){0,1}\d+[\.]{0,1}\d*\s*(deg|rad)"></xsd:pattern>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="DISTANCECOSTTYPE">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="\d+[\.]{0,1}\d*\s*\/\s*(mm|cm|dm|m|dam|hm|km|mi|y|ft)"></xsd:pattern>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="TIMECOSTTYPE">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="\d+[\.]{0,1}\d*\s*\/\s*(ms|s|m|min|h|hr|d|day|wk|week)"></xsd:pattern>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="GTUTYPETYPE">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="CAR|TRUCK|BUS|MOTORBIKE|BICYCLE|PEDESTRIAN"></xsd:pattern>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="FOLLOWINGTYPE">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="IDM|IDM\+"></xsd:pattern>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="LANECHANGETYPE">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="EGOISTIC|ALTRUISTIC"></xsd:pattern>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="STRIPETYPE">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="SOLID|DASHED|BLOCKED|DOUBLE|LEFTONLY|RIGHTONLY"></xsd:pattern>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="DIRECTIONTYPE">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="FORWARD|BACKWARD|BOTH"></xsd:pattern>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="COLORTYPE">
    <xsd:restriction base="xsd:string">
      <xsd:pattern
        value="(\
{0})WHITE|LIGHT_GRAY|GRAY|DARK_GRAY|BLACK|RED|PINK|ORANGE|YELLOW|GREEN|MAGENTA|CYAN|BLUE(\
{0})|\#[(0-9)|(A-F)]{6}(\
{0})|RGB\(0*([1-9]?\d|1\d\d|2[0-4]\d|25[0-5])\s*\,\s*(\
{0})0*([1-9]?\d|1\d\d|2[0-4]\d|25[0-5])\s*\,\s*(\
{0})0*([1-9]?\d|1\d\d|2[0-4]\d|25[0-5])\)"></xsd:pattern>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="GTUCOLORERTYPE">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="ID|VELOCITY|ACCELERATION|LANECHANGEURGE|SWITCHABLE"></xsd:pattern>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="CONTDISTTYPE">
    <xsd:restriction base="xsd:string">
      <xsd:pattern
        value="(\
{0})(CONST|CONSTANT)\(\s*\d+[\.]{0,1}\d*\s*\)(\
{0})|(EXPO|EXPONENTIAL)\(\s*\d+[\.]{0,1}\d*\s*\)(\
{0})|(TRIA|TRIANGULAR)\(\s*\d+[\.]{0,1}\d*\s*,\s*\d+[\.]{0,1}\d*\s*,\s*\d+[\.]{0,1}\d*\s*\)(\
{0})|(NORM|NORMAL)\(\s*\d+[\.]{0,1}\d*\s*,\s*\d+[\.]{0,1}\d*\s*\)(\
{0})|BETA\(\s*\d+[\.]{0,1}\d*\s*,\s*\d+[\.]{0,1}\d*\s*\)(\
{0})|ERLANG\(\s*\d+\s*,\s*\d+[\.]{0,1}\d*\s*\)(\
{0})|GAMMA\(\s*\d+[\.]{0,1}\d*\s*,\s*\d+[\.]{0,1}\d*\s*\)(\
{0})|(LOGN|LOGNORMAL)\(\s*\d+[\.]{0,1}\d*\s*,\s*\d+[\.]{0,1}\d*\s*\)(\
{0})|PEARSON5\(\s*\d+[\.]{0,1}\d*\s*,\s*\d+[\.]{0,1}\d*\s*\)(\
{0})|PEARSON6\(\s*\d+[\.]{0,1}\d*\s*,\s*\d+[\.]{0,1}\d*\s*,\s*\d+[\.]{0,1}\d*\s*\)(\
{0})|(UNIF|UNIFORM)\(\s*\d+[\.]{0,1}\d*\s*,\s*\d+[\.]{0,1}\d*\s*\)(\
{0})|(WEIB|WEIBULL)\(\s*\d+[\.]{0,1}\d*\s*,\s*\d+[\.]{0,1}\d*\s*\)">
      </xsd:pattern>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="LENGTHDISTTYPE">
    <xsd:restriction base="xsd:string">
      <xsd:pattern
        value="(\
{0})(CONST|CONSTANT)\(\s*\d+[\.]{0,1}\d*\s*\)\s*(mm|cm|dm|m|dam|hm|km|mi|y|ft)(\
{0})|(EXPO|EXPONENTIAL)\(\s*\d+[\.]{0,1}\d*\s*\)\s*(mm|cm|dm|m|dam|hm|km|mi|y|ft)(\
{0})|(TRIA|TRIANGULAR)\(\s*\d+[\.]{0,1}\d*\s*,\s*\d+[\.]{0,1}\d*\s*,\s*\d+[\.]{0,1}\d*\s*\)\s*(mm|cm|dm|m|dam|hm|km|mi|y|ft)(\
{0})|(NORM|NORMAL)\(\s*\d+[\.]{0,1}\d*\s*,\s*\d+[\.]{0,1}\d*\s*\)\s*(mm|cm|dm|m|dam|hm|km|mi|y|ft)(\
{0})|BETA\(\s*\d+[\.]{0,1}\d*\s*,\s*\d+[\.]{0,1}\d*\s*\)\s*(mm|cm|dm|m|dam|hm|km|mi|y|ft)(\
{0})|ERLANG\(\s*\d+\s*,\s*\d+[\.]{0,1}\d*\s*\)\s*(mm|cm|dm|m|dam|hm|km|mi|y|ft)(\
{0})|GAMMA\(\s*\d+[\.]{0,1}\d*\s*,\s*\d+[\.]{0,1}\d*\s*\)\s*(mm|cm|dm|m|dam|hm|km|mi|y|ft)(\
{0})|(LOGN|LOGNORMAL)\(\s*\d+[\.]{0,1}\d*\s*,\s*\d+[\.]{0,1}\d*\s*\)\s*(mm|cm|dm|m|dam|hm|km|mi|y|ft)(\
{0})|PEARSON5\(\s*\d+[\.]{0,1}\d*\s*,\s*\d+[\.]{0,1}\d*\s*\)\s*(mm|cm|dm|m|dam|hm|km|mi|y|ft)(\
{0})|PEARSON6\(\s*\d+[\.]{0,1}\d*\s*,\s*\d+[\.]{0,1}\d*\s*,\s*\d+[\.]{0,1}\d*\s*\)\s*(mm|cm|dm|m|dam|hm|km|mi|y|ft)(\
{0})|(UNIF|UNIFORM)\(\s*\d+[\.]{0,1}\d*\s*,\s*\d+[\.]{0,1}\d*\s*\)\s*(mm|cm|dm|m|dam|hm|km|mi|y|ft)(\
{0})|(WEIB|WEIBULL)\(\s*\d+[\.]{0,1}\d*\s*,\s*\d+[\.]{0,1}\d*\s*\)\s*(mm|cm|dm|m|dam|hm|km|mi|y|ft)">
      </xsd:pattern>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="SPEEDDISTTYPE">
    <xsd:restriction base="xsd:string">
      <xsd:pattern
        value="(\
{0})(CONST|CONSTANT)\(\s*\d+[\.]{0,1}\d*\s*\)\s*(km/h|m/s|mi/h|y/s|ft/s)(\
{0})|(EXPO|EXPONENTIAL)\(\s*\d+[\.]{0,1}\d*\s*\)\s*(km/h|m/s|mi/h|y/s|ft/s)(\
{0})|(TRIA|TRIANGULAR)\(\s*\d+[\.]{0,1}\d*\s*,\s*\d+[\.]{0,1}\d*\s*,\s*\d+[\.]{0,1}\d*\s*\)\s*(km/h|m/s|mi/h|y/s|ft/s)(\
{0})|(NORM|NORMAL)\(\s*\d+[\.]{0,1}\d*\s*,\s*\d+[\.]{0,1}\d*\s*\)\s*(km/h|m/s|mi/h|y/s|ft/s)(\
{0})|BETA\(\s*\d+[\.]{0,1}\d*\s*,\s*\d+[\.]{0,1}\d*\s*\)\s*(km/h|m/s|mi/h|y/s|ft/s)(\
{0})|ERLANG\(\s*\d+\s*,\s*\d+[\.]{0,1}\d*\s*\)\s*(km/h|m/s|mi/h|y/s|ft/s)(\
{0})|GAMMA\(\s*\d+[\.]{0,1}\d*\s*,\s*\d+[\.]{0,1}\d*\s*\)\s*(km/h|m/s|mi/h|y/s|ft/s)(\
{0})|(LOGN|LOGNORMAL)\(\s*\d+[\.]{0,1}\d*\s*,\s*\d+[\.]{0,1}\d*\s*\)\s*(km/h|m/s|mi/h|y/s|ft/s)(\
{0})|PEARSON5\(\s*\d+[\.]{0,1}\d*\s*,\s*\d+[\.]{0,1}\d*\s*\)\s*(km/h|m/s|mi/h|y/s|ft/s)(\
{0})|PEARSON6\(\s*\d+[\.]{0,1}\d*\s*,\s*\d+[\.]{0,1}\d*\s*,\s*\d+[\.]{0,1}\d*\s*\)\s*(km/h|m/s|mi/h|y/s|ft/s)(\
{0})|(UNIF|UNIFORM)\(\s*\d+[\.]{0,1}\d*\s*,\s*\d+[\.]{0,1}\d*\s*\)\s*(km/h|m/s|mi/h|y/s|ft/s)(\
{0})|(WEIB|WEIBULL)\(\s*\d+[\.]{0,1}\d*\s*,\s*\d+[\.]{0,1}\d*\s*\)\s*(km/h|m/s|mi/h|y/s|ft/s)">
      </xsd:pattern>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="TIMEDISTTYPE">
    <xsd:restriction base="xsd:string">
      <xsd:pattern
        value="(\
{0})(CONST|CONSTANT)\(\s*\d+[\.]{0,1}\d*\s*\)\s*(ms|s|m|min|h|hr|d|day|wk|week)(\
{0})|(EXPO|EXPONENTIAL)\(\s*\d+[\.]{0,1}\d*\s*\)\s*(ms|s|m|min|h|hr|d|day|wk|week)(\
{0})|(TRIA|TRIANGULAR)\(\s*\d+[\.]{0,1}\d*\s*,\s*\d+[\.]{0,1}\d*\s*,\s*\d+[\.]{0,1}\d*\s*\)\s*(ms|s|m|min|h|hr|d|day|wk|week)(\
{0})|(NORM|NORMAL)\(\s*\d+[\.]{0,1}\d*\s*,\s*\d+[\.]{0,1}\d*\s*\)\s*(ms|s|m|min|h|hr|d|day|wk|week)(\
{0})|BETA\(\s*\d+[\.]{0,1}\d*\s*,\s*\d+[\.]{0,1}\d*\s*\)\s*(ms|s|m|min|h|hr|d|day|wk|week)(\
{0})|ERLANG\(\s*\d+\s*,\s*\d+[\.]{0,1}\d*\s*\)\s*(ms|s|m|min|h|hr|d|day|wk|week)(\
{0})|GAMMA\(\s*\d+[\.]{0,1}\d*\s*,\s*\d+[\.]{0,1}\d*\s*\)\s*(ms|s|m|min|h|hr|d|day|wk|week)(\
{0})|(LOGN|LOGNORMAL)\(\s*\d+[\.]{0,1}\d*\s*,\s*\d+[\.]{0,1}\d*\s*\)\s*(ms|s|m|min|h|hr|d|day|wk|week)(\
{0})|PEARSON5\(\s*\d+[\.]{0,1}\d*\s*,\s*\d+[\.]{0,1}\d*\s*\)\s*(ms|s|m|min|h|hr|d|day|wk|week)(\
{0})|PEARSON6\(\s*\d+[\.]{0,1}\d*\s*,\s*\d+[\.]{0,1}\d*\s*,\s*\d+[\.]{0,1}\d*\s*\)\s*(ms|s|m|min|h|hr|d|day|wk|week)(\
{0})|(UNIF|UNIFORM)\(\s*\d+[\.]{0,1}\d*\s*,\s*\d+[\.]{0,1}\d*\s*\)\s*(ms|s|m|min|h|hr|d|day|wk|week)(\
{0})|(WEIB|WEIBULL)\(\s*\d+[\.]{0,1}\d*\s*,\s*\d+[\.]{0,1}\d*\s*\)\s*(ms|s|m|min|h|hr|d|day|wk|week)">
      </xsd:pattern>
    </xsd:restriction>
  </xsd:simpleType>

  <!-- ================================================================================================== -->
  <!-- =============================================== ELEMENTS ========================================= -->
  <!-- ================================================================================================== -->

  <xsd:element name="GLOBAL">
    <xsd:complexType>
      <xsd:attribute name="SPEED" type="SPEEDTYPE" use="required"></xsd:attribute>
      <xsd:attribute name="WIDTH" type="LENGTHTYPE" use="required"></xsd:attribute>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="INCLUDE">
    <xsd:complexType>
      <xsd:attribute name="URI" type="xsd:anyURI" use="required"></xsd:attribute>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="COMPATIBILITY">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="LANETYPE" minOccurs="1" maxOccurs="unbounded">
          <xsd:complexType>
            <xsd:attribute name="NAME" type="xsd:ID" use="required" />
            <xsd:attribute name="GTULIST" type="xsd:IDREFS" use="required"></xsd:attribute>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="GTU">
    <xsd:complexType>
      <xsd:attribute name="NAME" type="xsd:ID" use="required"></xsd:attribute>
      <xsd:attribute name="GTUTYPE" type="GTUTYPETYPE" use="required"></xsd:attribute>
      <xsd:attribute name="LENGTH" type="LENGTHDISTTYPE" use="required"></xsd:attribute>
      <xsd:attribute name="WIDTH" type="LENGTHDISTTYPE" use="required"></xsd:attribute>
      <xsd:attribute name="FOLLOWING" type="FOLLOWINGTYPE" use="required"></xsd:attribute>
      <xsd:attribute name="LANECHANGE" type="LANECHANGETYPE" use="required"></xsd:attribute>
      <xsd:attribute name="MAXSPEED" type="SPEEDDISTTYPE" use="required"></xsd:attribute>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="GTUMIX">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="GTU" minOccurs="1" maxOccurs="unbounded">
          <xsd:complexType>
            <xsd:attribute name="NAME" type="xsd:IDREF" use="required" />
            <xsd:attribute name="WEIGHT" type="xsd:double" use="required" />
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
      <xsd:attribute name="NAME" type="xsd:ID" use="required"></xsd:attribute>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="NODE">
    <xsd:complexType>
      <xsd:attribute name="NAME" type="xsd:ID" use="required"></xsd:attribute>
      <xsd:attribute name="COORDINATE" type="COORDINATETYPE" use="optional"></xsd:attribute>
      <xsd:attribute name="ANGLE" type="ANGLETYPE" use="optional"></xsd:attribute>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="ROADTYPE">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:choice minOccurs="1" maxOccurs="unbounded">

          <xsd:element name="LANE" minOccurs="0" maxOccurs="unbounded">
            <xsd:complexType>
              <xsd:attribute name="NAME" type="xsd:string" use="required"></xsd:attribute>
              <xsd:attribute name="TYPE" type="xsd:IDREF" use="required"></xsd:attribute>
              <xsd:attribute name="OFFSET" type="SIGNEDLENGTHTYPE" use="required"></xsd:attribute>
              <xsd:attribute name="WIDTH" type="LENGTHTYPE" use="optional"></xsd:attribute>
              <xsd:attribute name="SPEED" type="SPEEDTYPE" use="optional"></xsd:attribute>
              <xsd:attribute name="DIRECTION" type="DIRECTIONTYPE" use="required"></xsd:attribute>
              <xsd:attribute name="COLOR" type="COLORTYPE" use="optional"></xsd:attribute>
            </xsd:complexType>
          </xsd:element>

          <xsd:element name="NOTRAFFICLANE" minOccurs="0" maxOccurs="unbounded">
            <xsd:complexType>
              <xsd:attribute name="NAME" type="xsd:string" use="optional"></xsd:attribute>
              <xsd:attribute name="OFFSET" type="SIGNEDLENGTHTYPE" use="required"></xsd:attribute>
              <xsd:attribute name="WIDTH" type="LENGTHTYPE" use="optional"></xsd:attribute>
              <xsd:attribute name="COLOR" type="COLORTYPE" use="optional"></xsd:attribute>
            </xsd:complexType>
          </xsd:element>

          <xsd:element name="SHOULDER" minOccurs="0" maxOccurs="unbounded">
            <xsd:complexType>
              <xsd:attribute name="NAME" type="xsd:string" use="optional"></xsd:attribute>
              <xsd:attribute name="OFFSET" type="SIGNEDLENGTHTYPE" use="required"></xsd:attribute>
              <xsd:attribute name="WIDTH" type="LENGTHTYPE" use="optional"></xsd:attribute>
              <xsd:attribute name="COLOR" type="COLORTYPE" use="optional"></xsd:attribute>
            </xsd:complexType>
          </xsd:element>

          <xsd:element name="STRIPE" minOccurs="0" maxOccurs="unbounded">
            <xsd:complexType>
              <xsd:attribute name="NAME" type="xsd:string" use="optional"></xsd:attribute>
              <xsd:attribute name="TYPE" type="STRIPETYPE" use="required"></xsd:attribute>
              <xsd:attribute name="OFFSET" type="SIGNEDLENGTHTYPE" use="required"></xsd:attribute>
              <xsd:attribute name="WIDTH" type="LENGTHTYPE" use="optional"></xsd:attribute>
              <xsd:attribute name="COLOR" type="COLORTYPE" use="optional"></xsd:attribute>
            </xsd:complexType>
          </xsd:element>

        </xsd:choice>
      </xsd:sequence>
      <xsd:attribute name="NAME" type="xsd:ID" use="required"></xsd:attribute>
      <xsd:attribute name="WIDTH" type="LENGTHTYPE" use="optional"></xsd:attribute>
      <xsd:attribute name="SPEED" type="SPEEDTYPE" use="optional"></xsd:attribute>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="LINK">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:choice>
          <xsd:element name="STRAIGHT">
            <xsd:complexType>
              <xsd:attribute name="LENGTH" type="LENGTHTYPE" use="required"></xsd:attribute>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="ARC">
            <xsd:complexType>
              <xsd:attribute name="RADIUS" type="LENGTHTYPE" use="required"></xsd:attribute>
              <xsd:attribute name="ANGLE" type="ANGLETYPE" use="required"></xsd:attribute>
              <xsd:attribute name="DIRECTION" type="LEFTRIGHTTYPE" use="required"></xsd:attribute>
            </xsd:complexType>
          </xsd:element>
        </xsd:choice>

        <xsd:element name="LANEOVERRIDE" minOccurs="0" maxOccurs="unbounded">
          <xsd:complexType>
            <xsd:attribute name="NAME" type="xsd:string" use="required"></xsd:attribute>
            <xsd:attribute name="SPEED" type="SPEEDTYPE" use="optional"></xsd:attribute>
            <xsd:attribute name="DIRECTION" type="DIRECTIONTYPE" use="optional"></xsd:attribute>
            <xsd:attribute name="COLOR" type="COLORTYPE" use="optional"></xsd:attribute>
          </xsd:complexType>
        </xsd:element>

        <xsd:element ref="ROADTYPE" minOccurs="0" maxOccurs="1" />

        <!-- TODO EITHER GTU or GTUMIX should be present... -->
        <!-- TODO Maximum one of ROUTE, ROUTEMIX, SHORTESTROUTE, SHORTESTROUTEMIX should be present... -->
        <xsd:element name="GENERATOR" minOccurs="0" maxOccurs="unbounded">
          <xsd:complexType>
            <xsd:attribute name="LANE" type="xsd:string" use="required"></xsd:attribute>
            <xsd:attribute name="POSITION" type="LENGTHBEGINENDTYPE" use="optional"></xsd:attribute>
            <xsd:attribute name="GTU" type="xsd:IDREF" use="optional"></xsd:attribute>
            <xsd:attribute name="GTUMIX" type="xsd:IDREF" use="optional"></xsd:attribute>
            <xsd:attribute name="IAT" type="TIMEDISTTYPE" use="required"></xsd:attribute>
            <xsd:attribute name="INITIALSPEED" type="SPEEDDISTTYPE" use="required"></xsd:attribute>
            <xsd:attribute name="MAXGTU" type="xsd:double" use="optional"></xsd:attribute>
            <xsd:attribute name="STARTTIME" type="TIMETYPE" use="optional"></xsd:attribute>
            <xsd:attribute name="ENDTIME" type="TIMETYPE" use="optional"></xsd:attribute>
            <xsd:attribute name="ROUTE" type="xsd:IDREF" use="required"></xsd:attribute>
            <xsd:attribute name="GTUCOLORER" type="GTUCOLORERTYPE" use="required"></xsd:attribute>
          </xsd:complexType>
        </xsd:element>

        <!-- TODO EITHER GTU or GTUMIX should be present... -->
        <!-- TODO Maximum one of ROUTE, ROUTEMIX, SHORTESTROUTE, SHORTESTROUTEMIX should be present... -->
        <xsd:element name="LISTGENERATOR" minOccurs="0" maxOccurs="unbounded">
          <xsd:complexType>
            <xsd:attribute name="URI" type="xsd:anyURI" use="required"></xsd:attribute>
            <xsd:attribute name="LANE" type="xsd:string" use="required"></xsd:attribute>
            <xsd:attribute name="POSITION" type="LENGTHBEGINENDTYPE" use="optional"></xsd:attribute>
            <xsd:attribute name="GTU" type="xsd:IDREF" use="optional"></xsd:attribute>
            <xsd:attribute name="GTUMIX" type="xsd:IDREF" use="optional"></xsd:attribute>
            <xsd:attribute name="INITIALSPEED" type="SPEEDDISTTYPE" use="required"></xsd:attribute>
            <xsd:attribute name="GTUCOLORER" type="GTUCOLORERTYPE" use="required"></xsd:attribute>
          </xsd:complexType>
        </xsd:element>

        <!-- TODO EITHER GTU or GTUGROUP should be present... -->
        <!-- TODO Maximum one of ROUTE, ROUTEMIX, SHORTESTROUTE, SHORTESTROUTEMIX should be present... -->
        <xsd:element name="FILL" minOccurs="0" maxOccurs="unbounded">
          <xsd:complexType>
            <xsd:attribute name="LANE" type="xsd:string" use="required"></xsd:attribute>
            <xsd:attribute name="GTU" type="xsd:IDREF" use="optional"></xsd:attribute>
            <xsd:attribute name="GTUMIX" type="xsd:IDREF" use="optional"></xsd:attribute>
            <xsd:attribute name="DISTANCE" type="LENGTHDISTTYPE" use="required"></xsd:attribute>
            <xsd:attribute name="INITIALSPEED" type="SPEEDDISTTYPE" use="required"></xsd:attribute>
            <xsd:attribute name="MAXGTU" type="xsd:double" use="optional"></xsd:attribute>
            <xsd:attribute name="ROUTE" type="xsd:IDREF" use="required"></xsd:attribute>
          </xsd:complexType>
        </xsd:element>

        <xsd:element name="BLOCK" minOccurs="0" maxOccurs="unbounded">
          <xsd:complexType>
            <xsd:attribute name="LANE" type="xsd:string" use="required"></xsd:attribute>
            <xsd:attribute name="POSITION" type="LENGTHBEGINENDTYPE" use="required"></xsd:attribute>
          </xsd:complexType>
        </xsd:element>

        <xsd:element name="SINK" minOccurs="0" maxOccurs="unbounded">
          <xsd:complexType>
            <xsd:attribute name="LANE" type="xsd:string" use="required"></xsd:attribute>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>

      <xsd:attribute name="NAME" type="xsd:ID" use="required"></xsd:attribute>
      <xsd:attribute name="FROM" type="xsd:IDREF" use="required"></xsd:attribute>
      <xsd:attribute name="TO" type="xsd:IDREF" use="required"></xsd:attribute>
      <xsd:attribute name="ROADTYPE" type="xsd:IDREF" use="optional"></xsd:attribute>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="ROUTE">
    <xsd:complexType>
      <xsd:attribute name="NAME" type="xsd:ID" use="required"></xsd:attribute>
      <xsd:attribute name="NODELIST" type="xsd:IDREFS" use="required"></xsd:attribute>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="SHORTESTROUTE">
    <xsd:complexType>
      <xsd:attribute name="NAME" type="xsd:ID" use="required"></xsd:attribute>
      <xsd:attribute name="FROM" type="xsd:IDREF" use="required"></xsd:attribute>
      <xsd:attribute name="TO" type="xsd:IDREF" use="required"></xsd:attribute>
      <xsd:attribute name="VIA" type="xsd:IDREFS" use="optional"></xsd:attribute>
      <xsd:attribute name="DISTANCECOST" type="DISTANCECOSTTYPE" use="required"></xsd:attribute>
      <xsd:attribute name="TIMECOST" type="TIMECOSTTYPE" use="required"></xsd:attribute>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="ROUTEMIX">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="ROUTE" minOccurs="1" maxOccurs="unbounded">
          <xsd:complexType>
            <xsd:attribute name="NAME" type="xsd:IDREF" use="required"></xsd:attribute>
            <xsd:attribute name="WEIGHT" type="xsd:double" use="required"></xsd:attribute>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
      <xsd:attribute name="NAME" type="xsd:string" use="required"></xsd:attribute>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="SHORTESTROUTEMIX">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="SHORTESTROUTE" minOccurs="1" maxOccurs="unbounded">
          <xsd:complexType>
            <xsd:attribute name="NAME" type="xsd:IDREF" use="required"></xsd:attribute>
            <xsd:attribute name="WEIGHT" type="xsd:double" use="required"></xsd:attribute>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
      <xsd:attribute name="NAME" type="xsd:ID" use="required"></xsd:attribute>
    </xsd:complexType>
  </xsd:element>

  <!-- ================================================================================================== -->
  <!-- ================================================ NETWORK ========================================= -->
  <!-- ================================================================================================== -->

  <xsd:element name="NETWORK">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="GLOBAL" minOccurs="0" maxOccurs="1" />
        <xsd:element ref="INCLUDE" minOccurs="0" maxOccurs="unbounded" />
        <xsd:choice minOccurs="1" maxOccurs="unbounded">
          <xsd:element ref="NODE" minOccurs="0" maxOccurs="unbounded" />
          <xsd:element ref="LINK" minOccurs="0" maxOccurs="unbounded" />
          <xsd:element ref="GTU" minOccurs="0" maxOccurs="unbounded" />
          <xsd:element ref="GTUMIX" minOccurs="0" maxOccurs="unbounded" />
          <xsd:element ref="COMPATIBILITY" minOccurs="0" maxOccurs="unbounded" />
          <xsd:element ref="ROADTYPE" minOccurs="0" maxOccurs="unbounded" />
          <xsd:element ref="ROUTE" minOccurs="0" maxOccurs="unbounded" />
          <xsd:element ref="ROUTEMIX" minOccurs="0" maxOccurs="unbounded" />
          <xsd:element ref="SHORTESTROUTE" minOccurs="0" maxOccurs="unbounded" />
          <xsd:element ref="SHORTESTROUTEMIX" minOccurs="0" maxOccurs="unbounded" />
        </xsd:choice>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

</xsd:schema>