branches/0.08/ots-road/src/main/resources/anm8.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Anm traffic network import format (PTV AG 2008) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
        <xs:element name="ABSTRACTNETWORKMODEL">
                <xs:annotation>
                        <xs:documentation>Root element for file.</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                        <xs:all>
                                <xs:element name="NETWORK" type="XmlAnmNetwork" minOccurs="0"/>
                                <xs:element name="MATRICES" type="XmlAnmMatrices" minOccurs="0"/>
                                <xs:element name="ROUTING" type="XmlAnmRouting" minOccurs="0"/>
                        </xs:all>
                        <xs:attribute name="VERSNO" type="xs:double" use="required">
                                <xs:annotation>
                                        <xs:documentation>The version number of the network.</xs:documentation>
                                </xs:annotation>
                        </xs:attribute>
                        <xs:attribute name="NAME" type="xs:string" use="optional">
                                <xs:annotation>
                                        <xs:documentation>A description for the network.</xs:documentation>
                                </xs:annotation>
                        </xs:attribute>
                        <xs:attribute name="FROMTIME" type="xs:time" use="required">
                                <xs:annotation>
                                        <xs:documentation>The simulation start time. All times are relative up from this time.</xs:documentation>
                                </xs:annotation>
                        </xs:attribute>
                        <xs:attribute name="TOTIME" type="xs:time" use="optional">
                                <xs:annotation>
                                        <xs:documentation>The simulation end time.</xs:documentation>
                                </xs:annotation>
                        </xs:attribute>
                </xs:complexType>
        </xs:element>
        <xs:complexType name="XmlAnmConnector">
                <xs:annotation>
                        <xs:documentation> Connects a zone with a node.</xs:documentation>
                </xs:annotation>
                <xs:sequence>
                        <xs:element name="BLOCKEDVEHCLASSES" type="XmlAnmBlockedVehClasses" minOccurs="0"/>
                </xs:sequence>
                <xs:attribute name="NODENO" type="XmlAnmIndexType" use="required">
                        <xs:annotation>
                                <xs:documentation>The id of the node the connector starts or ends.</xs:documentation>
                        </xs:annotation>
                </xs:attribute>
                <xs:attribute name="DIRECTION" type="xs:boolean" use="required">
                        <xs:annotation>
                                <xs:documentation>If the direction is true, when the connector starts at the node and ends at the zone, otherwise it starts at the zone and end at the node.</xs:documentation>
                        </xs:annotation>
                </xs:attribute>
        </xs:complexType>
        <xs:complexType name="XmlAnmConnectors">
                <xs:annotation>
                        <xs:documentation> A list containing connectors.</xs:documentation>
                </xs:annotation>
                <xs:sequence>
                        <xs:element name="CONNECTOR" type="XmlAnmConnector" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
        </xs:complexType>
        <xs:complexType name="XmlAnmCrosswalk">
                <xs:annotation>
                        <xs:documentation> A crosswalk, that leads over an inbound link and/or an outbound link. One of them is optional. Center islands can be designed by creating crosswalks for the inbound link and the corresponding outbound link seperately.</xs:documentation>
                </xs:annotation>
                <xs:sequence>
                        <xs:element name="LEFTSIDE" type="XmlAnmCrosswalkSide">
                                <xs:annotation>
                                        <xs:documentation> The leftside is the side going from left to right when we look towards the node. </xs:documentation>
                                </xs:annotation>
                        </xs:element>
                        <xs:element name="RIGHTSIDE" type="XmlAnmCrosswalkSide">
                                <xs:annotation>
                                        <xs:documentation> The rightside is the side going from right to left when we look towards the node. </xs:documentation>
                                </xs:annotation>
                        </xs:element>
                </xs:sequence>
                <xs:attribute name="INLINKID" type="xs:string" use="optional">
                        <xs:annotation>
                                <xs:documentation>The id of an inbound link at the node, the crosswalk where the crosswalk is defined. At least the INLINKD or the OUTLINK id must be set. If both are set, the inbound link must be the reverse link of the outbound link.</xs:documentation>
                        </xs:annotation>
                </xs:attribute>
                <xs:attribute name="OUTLINKID" type="xs:string" use="optional">
                        <xs:annotation>
                                <xs:documentation>The id of an outbound link at a node, the crosswalk where the crosswalk is defined. At least the INLINKD or the OUTLINK id must be set. If both are set, the inbound link must be the reverse link of the outbound link.</xs:documentation>
                        </xs:annotation>
                </xs:attribute>
                <xs:attribute name="INDEX" type="xs:unsignedLong" use="required">
                        <xs:annotation>
                                <xs:documentation>An index value that is required as primary key.</xs:documentation>
                        </xs:annotation>
                </xs:attribute>
                <xs:attribute name="CHANNELIZEDTURN" type="xs:boolean" use="required">
                        <xs:annotation>
                                <xs:documentation>If it is true, the crosswalk leads over a channelized turn, otherwise it is false. If only the OUTLINKID is set, then CHANNELIZEDTURN must be false.</xs:documentation>
                        </xs:annotation>
                </xs:attribute>
                <xs:attribute name="SCNO" type="xs:unsignedLong" use="optional">
                        <xs:annotation>
                                <xs:documentation>An id of a signal control, that belongs to the crosswalk.</xs:documentation>
                        </xs:annotation>
                </xs:attribute>
                <xs:attribute name="WIDTH" type="xs:double" use="optional">
                        <xs:annotation>
                                <xs:documentation>The width of the crosswalk. The sum of the offset and the width must be smaller than the length of the link.</xs:documentation>
                        </xs:annotation>
                </xs:attribute>
                <xs:attribute name="OFFSET" type="xs:double" use="optional">
                        <xs:annotation>
                                <xs:documentation>The offset, where the crosswalk is placed on the link. The distance is calculated from the line-of-sight.</xs:documentation>
                        </xs:annotation>
                </xs:attribute>
        </xs:complexType>
        <xs:complexType name="XmlAnmCrosswalks">
                <xs:annotation>
                        <xs:documentation> A list containing crosswalks.</xs:documentation>
                </xs:annotation>
                <xs:sequence>
                        <xs:element name="CROSSWALK" type="XmlAnmCrosswalk" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
        </xs:complexType>
        <xs:complexType name="XmlAnmLane">
                <xs:annotation>
                        <xs:documentation> A lane is part of a link. A lane is defined either on the from node or on the to node of the link. It is allowed to define more lanes for a link than defined by the NUMLANES attribute of the link. In this case, all additional lanes must be marked as pocket.</xs:documentation>
                </xs:annotation>
                <xs:sequence>
                        <xs:element name="BLOCKEDVEHCLASSES" type="XmlAnmBlockedVehClasses" minOccurs="0">
                                <xs:annotation>
                                        <xs:documentation>Contains all vehicle classes that are not allowed for the lane.</xs:documentation>
                                </xs:annotation>
                        </xs:element>
                        <xs:element name="DETECTORS" type="XmlAnmDetectors" minOccurs="0">
                                <xs:annotation>
                                        <xs:documentation>Contains all detectors for the lane.</xs:documentation>
                                </xs:annotation>
                        </xs:element>
                </xs:sequence>
                <xs:attribute name="LINKID" type="xs:string" use="required">
                        <xs:annotation>
                                <xs:documentation>The id of the link the lane belongs to.</xs:documentation>
                        </xs:annotation>
                </xs:attribute>
                <xs:attribute name="INDEX" type="XmlAnmIndexType" use="required">
                        <xs:annotation>
                                <xs:documentation>The lane index describes the position of a lane on a link. The lanes are numbered from right to left looking in the direction of the link.</xs:documentation>
                        </xs:annotation>
                </xs:attribute>
                <xs:attribute name="POCKET" type="xs:boolean" use="required">
                        <xs:annotation>
                                <xs:documentation>Whether the lane is a pocket lane or not. </xs:documentation>
                        </xs:annotation>
                </xs:attribute>
                <xs:attribute name="POCKETLENGTH" type="xs:double" use="required">
                        <xs:annotation>
                                <xs:documentation>The length of the pocket. Ignored if POCKET is false.</xs:documentation>
                        </xs:annotation>
                </xs:attribute>
                <xs:attribute name="WIDTH" type="xs:double" use="optional">
                        <xs:annotation>
                                <xs:documentation>The width of the lane. Default is either 3.5 meters or 12 feet depending on the VISSIM preferences. </xs:documentation>
                        </xs:annotation>
                </xs:attribute>
                <xs:attribute name="STOPLINEPOS" type="xs:double" use="optional">
                        <xs:annotation>
                                <xs:documentation>The position of the stop line. Distance is measured from line-of-sight.</xs:documentation>
                        </xs:annotation>
                </xs:attribute>
                <xs:attribute name="TRAFFICSIGN" type="XmlAnmSignType" use="optional">
                        <xs:annotation>
                                <xs:documentation>The type of the traffic sign.</xs:documentation>
                        </xs:annotation>
                </xs:attribute>
        </xs:complexType>
        <xs:complexType name="XmlAnmLanes">
                <xs:annotation>
                        <xs:documentation>A list containing lanes.</xs:documentation>
                </xs:annotation>
                <xs:sequence>
                        <xs:element name="LANE" type="XmlAnmLane" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
        </xs:complexType>
        <xs:complexType name="XmlAnmLaneTurn">
                <xs:annotation>
                        <xs:documentation> A lane turn connects a lane on an inbound link with a lane on an outbound link at a node. If at least one laneturn is defined on a node, all turns will be ignored. </xs:documentation>
                </xs:annotation>
                <xs:sequence>
                        <xs:element name="LANETURNPOLY" type="XmlAnmPolyLine" minOccurs="0">
                                <xs:annotation>
                                        <xs:documentation>Geometrical data, that describes the placement of the lane turn in the network. For future use.</xs:documentation>
                                </xs:annotation>
                        </xs:element>
                        <xs:element name="BLOCKEDVEHCLASSES" type="XmlAnmBlockedVehClasses" minOccurs="0">
                                <xs:annotation>
                                        <xs:documentation>Contains all vehicle classes, that are not allowed for the lane turn.</xs:documentation>
                                </xs:annotation>
                        </xs:element>
                        <xs:element name="DETECTORS" type="XmlAnmDetectors" minOccurs="0">
                                <xs:annotation>
                                        <xs:documentation>Contains all detectors for the laneturn.</xs:documentation>
                                </xs:annotation>
                        </xs:element>
                </xs:sequence>
                <xs:attribute name="FROMLINKID" type="xs:string" use="required">
                        <xs:annotation>
                                <xs:documentation>The id of the link, the lane turn comes from. Both FromLink and ToLink must be incident links to the node this laneturn is defined on. FROMLINKID belongs to an inbound link.</xs:documentation>
                        </xs:annotation>
                </xs:attribute>
                <xs:attribute name="FROMLANEINDEX" type="XmlAnmIndexType" use="required">
                        <xs:annotation>
                                <xs:documentation>The index of the lane on the FromLink, the lane turn comes from.</xs:documentation>
                        </xs:annotation>
                </xs:attribute>
                <xs:attribute name="TOLINKID" type="xs:string" use="required">
                        <xs:annotation>
                                <xs:documentation>The id of the link, the lane turn goes to. Both FromLink and ToLink must be incident links to the node this laneturn is defined on. TOLINKID belongs to an outbound link.</xs:documentation>
                        </xs:annotation>
                </xs:attribute>
                <xs:attribute name="TOLANEINDEX" type="XmlAnmIndexType" use="optional">
                        <xs:annotation>
                                <xs:documentation>The id of the lane on the outbound link. If the lane index is not set, the application uses one of the lanes on the ToLink.</xs:documentation>
                        </xs:annotation>
                </xs:attribute>
                <xs:attribute name="SCNO" type="XmlAnmIndexType" use="optional">
                        <xs:annotation>
                                <xs:documentation>The id of the signal control that belongs to the lane turn.</xs:documentation>
                        </xs:annotation>
                </xs:attribute>
                <xs:attribute name="SGNO" type="XmlAnmIndexType" use="optional">
                        <xs:annotation>
                                <xs:documentation>The id of the signal group that belongs to the lane turn.</xs:documentation>
                        </xs:annotation>
                </xs:attribute>
                <xs:attribute name="ORSGNO" type="XmlAnmIndexType" use="optional">
                        <xs:annotation>
                                <xs:documentation>An alternative signal group number.</xs:documentation>
                        </xs:annotation>
                </xs:attribute>
                <xs:attribute name="SIGNALTYPE" type="XmlAnmSignalType" use="optional">
                        <xs:annotation>
                                <xs:documentation>The type of the signal control.</xs:documentation>
                        </xs:annotation>
                </xs:attribute>
                <xs:attribute name="REDUCEDSPEED" type="xs:double" use="optional">
                        <xs:annotation>
                                <xs:documentation>The reduced speed on the lane turn.</xs:documentation>
                        </xs:annotation>
                </xs:attribute>
        </xs:complexType>
        <xs:complexType name="XmlAnmLaneTurns">
                <xs:annotation>
                        <xs:documentation>A list containing lane turns.</xs:documentation>
                </xs:annotation>
                <xs:sequence>
                        <xs:element name="LANETURN" type="XmlAnmLaneTurn" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
        </xs:complexType>
        <xs:complexType name="XmlAnmLink">
                <xs:annotation>
                        <xs:documentation>A link is a directed connection between two nodes.</xs:documentation>
                </xs:annotation>
                <xs:sequence>
                        <xs:element name="BLOCKEDVEHCLASSES" type="XmlAnmBlockedVehClasses" minOccurs="0">
                                <xs:annotation>
                                        <xs:documentation>Contains all vehicle classes, that are not allowed for the link.</xs:documentation>
                                </xs:annotation>
                        </xs:element>
                        <xs:element name="LINKPOLY" type="XmlAnmPolyLine" minOccurs="0">
                                <xs:annotation>
                                        <xs:documentation>Describes the geometrical placement of the link in the network.</xs:documentation>
                                </xs:annotation>
                        </xs:element>
                </xs:sequence>
                <xs:attribute name="ID" type="xs:string" use="required">
                        <xs:annotation>
                                <xs:documentation>The id of the link.</xs:documentation>
                        </xs:annotation>
                </xs:attribute>
                <xs:attribute name="FROMNODENO" type="XmlAnmIndexType" use="required">
                        <xs:annotation>
                                <xs:documentation>The id of the node, the link comes from.</xs:documentation>
                        </xs:annotation>
                </xs:attribute>
                <xs:attribute name="TONODENO" type="XmlAnmIndexType" use="required">
                        <xs:annotation>
                                <xs:documentation>The id of the node, the link goes to.</xs:documentation>
                        </xs:annotation>
                </xs:attribute>
                <xs:attribute name="NAME" type="xs:string" use="optional">
                        <xs:annotation>
                                <xs:documentation>A description for the link.</xs:documentation>
                        </xs:annotation>
                </xs:attribute>
                <xs:attribute name="LINKTYPENO" type="XmlAnmIndexType" use="required">
                        <xs:annotation>
                                <xs:documentation>The id of the link type, the link belongs to.</xs:documentation>
                        </xs:annotation>
                </xs:attribute>
                <xs:attribute name="SPEED" type="xs:double" use="required">
                        <xs:annotation>
                                <xs:documentation>The maximal allowed speed on the link.</xs:documentation>
                        </xs:annotation>
                </xs:attribute>
                <xs:attribute name="NUMLANES" type="xs:unsignedLong" use="required">
                        <xs:annotation>
                                <xs:documentation>The minimal count of lanes the link consists of. It is possible to define more lanes on the inbound part of the link. All surplus lanes should be defined as pockets.</xs:documentation>
                        </xs:annotation>
                </xs:attribute>
                <xs:attribute name="TURNONRED" type="xs:boolean" use="optional">
                        <xs:annotation>
                                <xs:documentation>Whether it is allowed to turn on red or not. This is only important for the link that is nearest to the outermost lane of the link.</xs:documentation>
                        </xs:annotation>
                </xs:attribute>
                <xs:attribute name="TRIANGLEISLANDLENGTH" type="xs:double" use="optional">
                        <xs:annotation>
                                <xs:documentation>The length of the channelized turn. If no channelized turn exists, CHANNELIZEDTURNLEN should be 0.</xs:documentation>
                        </xs:annotation>
                </xs:attribute>
                <xs:attribute name="REVERSELINK" type="xs:string" use="optional">
                        <xs:annotation>
                                <xs:documentation>The corresponding reverse link at the end node of the link. </xs:documentation>
                        </xs:annotation>
                </xs:attribute>
                <xs:attribute name="OPPOSITELINK" type="xs:string" use="optional">
                        <xs:annotation>
                                <xs:documentation>The corresponding opposite link. </xs:documentation>
                        </xs:annotation>
                </xs:attribute>
                    <xs:attribute name="SLO" type="xs:double" use="optional">
                        <xs:annotation>
                                <xs:documentation>Describes the appearance of the link.</xs:documentation>
                        </xs:annotation>
                </xs:attribute>
                <xs:attribute name="CLO" type="xs:double" use="optional">
                        <xs:annotation>
                                <xs:documentation>Describes the appearance of the link.</xs:documentation>
                        </xs:annotation>
                </xs:attribute>
                <xs:attribute name="ELO" type="xs:double" use="optional">
                        <xs:annotation>
                                <xs:documentation>Describes the appearance of the link.</xs:documentation>
                        </xs:annotation>
                </xs:attribute>
                <xs:attribute name="SLOL" type="xs:double" use="optional">
                        <xs:annotation>
                                <xs:documentation>Describes the appearance of the link.</xs:documentation>
                        </xs:annotation>
                </xs:attribute>
                <xs:attribute name="ELOL" type="xs:double" use="optional">
                        <xs:annotation>
                                <xs:documentation>Describes the appearance of the link.</xs:documentation>
                        </xs:annotation>
                </xs:attribute>
                <xs:attribute name="FROMNODERADIUS" type="xs:double" use="optional">
                        <xs:annotation>
                                <xs:documentation>If the from node is a roundabout, this attributes is required and contains the radius at the roundabout.</xs:documentation>
                        </xs:annotation>
                </xs:attribute>
                <xs:attribute name="TONODERADIUS" type="xs:double" use="optional">
                        <xs:annotation>
                                <xs:documentation>If the from node is a roundabout, this attributes is required and contains the radius at the roundabout.</xs:documentation>
                        </xs:annotation>
                </xs:attribute>
                <xs:attribute name="ROUNDABOUTAPPROACHHALFWIDTH" type="xs:double" use="optional">
                        <xs:annotation>
                                <xs:documentation/>
                        </xs:annotation>
                </xs:attribute>
                <xs:attribute name="ROUNDABOUTFLARELENGTH" type="xs:double" use="optional">
                        <xs:annotation>
                                <xs:documentation/>
                        </xs:annotation>
                </xs:attribute>
                <xs:attribute name="ROUNDABOUTENTRYANGLE" type="xs:double" use="optional">
                        <xs:annotation>
                                <xs:documentation/>
                        </xs:annotation>
                </xs:attribute>
                <xs:attribute name="ROUNDABOUTENTRYRADIUS" type="xs:double" use="optional">
                        <xs:annotation>
                                <xs:documentation/>
                        </xs:annotation>
                </xs:attribute>
                <xs:attribute name="ROUNDABOUTEXITRADIUS" type="xs:double" use="optional">
                        <xs:annotation>
                                <xs:documentation/>
                        </xs:annotation>
                </xs:attribute>
                <xs:attribute name="ROUNDABOUTGRADESEPARATION" type="xs:double" use="optional">
                        <xs:annotation>
                                <xs:documentation/>
                        </xs:annotation>
                </xs:attribute>
                <xs:attribute name="ROUNDABOUTKIMBERHOLLISC" type="xs:double" use="optional">
                        <xs:annotation>
                                <xs:documentation/>
                        </xs:annotation>
                </xs:attribute>
                <xs:attribute name="ROUNDABOUTLANESPERAPPROACH" type="xs:int" use="optional">
                        <xs:annotation>
                                <xs:documentation/>
                        </xs:annotation>
                </xs:attribute>
                <xs:attribute name="ROUNDABOUTENTRYWIDTH" type="xs:double" use="optional">
                        <xs:annotation>
                                <xs:documentation/>
                        </xs:annotation>
                </xs:attribute>
                <xs:attribute name="ROUNDABOUTBYPASSVOLUMESHARE" type="xs:double" use="optional">
                        <xs:annotation>
                                <xs:documentation/>
                        </xs:annotation>
                </xs:attribute>
                <xs:attribute name="ALLOWLEADLAGOPT" type="xs:boolean" use="optional">
                        <xs:annotation>
                                <xs:documentation>Allow lead / lag - optimization, default false.</xs:documentation>
                        </xs:annotation>
                </xs:attribute>
          
        </xs:complexType>
        <xs:complexType name="XmlAnmPolyLine">
                <xs:annotation>
                        <xs:documentation>A polyline is a set of points. The indices start at 1 and must be consecutive.</xs:documentation>
                </xs:annotation>
                <xs:sequence>
                        <xs:element name="POINT" type="XmlAnmPoint" minOccurs="2" maxOccurs="unbounded">
                                <xs:annotation>
                                        <xs:documentation>A three dimensional point.</xs:documentation>
                                </xs:annotation>
                        </xs:element>
                </xs:sequence>
        </xs:complexType>
        <xs:complexType name="XmlAnmLinks">
                <xs:annotation>
                        <xs:documentation>A list containing all links.</xs:documentation>
                </xs:annotation>
                <xs:sequence>
                        <xs:element name="LINK" type="XmlAnmLink" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
        </xs:complexType>
        <xs:complexType name="XmlAnmLinkType">
                <xs:annotation>
                        <xs:documentation>A link type combines links with identical characteristics.</xs:documentation>
                </xs:annotation>
                <xs:attribute name="NO" type="XmlAnmIndexType" use="required">
                        <xs:annotation>
                                <xs:documentation>The number of the link type.</xs:documentation>
                        </xs:annotation>
                </xs:attribute>
                <xs:attribute name="NAME" type="xs:string" use="optional">
                        <xs:annotation>
                                <xs:documentation>The name of the link type.</xs:documentation>
                        </xs:annotation>
                </xs:attribute>
                <xs:attribute name="DRIVINGBEHAVIOR" type="XmlAnmDrivingBehaviorType" use="required">
                        <xs:annotation>
                                <xs:documentation>The default driving behavior for the link type.</xs:documentation>
                        </xs:annotation>
                </xs:attribute>
        </xs:complexType>
        <xs:complexType name="XmlAnmLinkTypes">
                <xs:annotation>
                        <xs:documentation>A list containing link types.</xs:documentation>
                </xs:annotation>
                <xs:sequence>
                        <xs:element name="LINKTYPE" type="XmlAnmLinkType" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
        </xs:complexType>
        <xs:complexType name="XmlAnmNetwork">
                <xs:annotation>
                        <xs:documentation> Contains all network data.</xs:documentation>
                </xs:annotation>
                <xs:sequence>
                        <xs:element name="VEHTYPES" type="XmlAnmVehTypes" minOccurs="0">
                                <xs:annotation>
                                        <xs:documentation>All vehicle types that belong to the network.</xs:documentation>
                                </xs:annotation>
                        </xs:element>
                        <xs:element name="VEHCLASSES" type="XmlAnmVehClasses" minOccurs="0">
                                <xs:annotation>
                                        <xs:documentation>All vehicle classes that belong to the network.</xs:documentation>
                                </xs:annotation>
                        </xs:element>
                        <xs:element name="NODES" type="XmlAnmNodes" minOccurs="0">
                                <xs:annotation>
                                        <xs:documentation>All nodes that belong to the network.</xs:documentation>
                                </xs:annotation>
                        </xs:element>
                        <xs:element name="ZONES" type="XmlAnmZones" minOccurs="0">
                                <xs:annotation>
                                        <xs:documentation>All zones that belong to the network.</xs:documentation>
                                </xs:annotation>
                        </xs:element>
                        <xs:element name="LINKTYPES" type="XmlAnmLinkTypes" minOccurs="0">
                                <xs:annotation>
                                        <xs:documentation>All link types that belong to the network.</xs:documentation>
                                </xs:annotation>
                        </xs:element>
                        <xs:element name="LINKS" type="XmlAnmLinks" minOccurs="0">
                                <xs:annotation>
                                        <xs:documentation>All links that belong to the network.</xs:documentation>
                                </xs:annotation>
                        </xs:element>
                        <xs:element name="PTSTOPS" type="XmlAnmPtStops" minOccurs="0">
                                <xs:annotation>
                                        <xs:documentation>All public transport stops that belong to the network.</xs:documentation>
                                </xs:annotation>
                        </xs:element>
                        <xs:element name="PTLINES" type="XmlAnmPtLines" minOccurs="0">
                                <xs:annotation>
                                        <xs:documentation>All public transport lines that belong to the network.</xs:documentation>
                                </xs:annotation>
                        </xs:element>
                        <xs:element name="SIGNALCONTROLS" type="XmlAnmSignalControls" minOccurs="0">
                                <xs:annotation>
                                        <xs:documentation>All signal controls that belong to the network.</xs:documentation>
                                </xs:annotation>
                        </xs:element>
                </xs:sequence>
                <xs:attribute name="LEFTHANDTRAFFIC" type="xs:boolean" use="required">
                        <xs:annotation>
                                <xs:documentation>Whether the network is for lefthand traffic or not.</xs:documentation>
                        </xs:annotation>
                </xs:attribute>
        </xs:complexType>
        <xs:complexType name="XmlAnmNode">
                <xs:annotation>
                        <xs:documentation>A node represents an intersection.</xs:documentation>
                </xs:annotation>
                <xs:sequence>
                        <xs:element name="TURNS" type="XmlAnmTurns" minOccurs="0">
                                <xs:annotation>
                                        <xs:documentation>Contains all turns that belong to the node.</xs:documentation>
                                </xs:annotation>
                        </xs:element>
                        <xs:element name="LANES" type="XmlAnmLanes" minOccurs="0">
                                <xs:annotation>
                                        <xs:documentation>Contains all lanes that belong to the node.</xs:documentation>
                                </xs:annotation>
                        </xs:element>
                        <xs:element name="LANETURNS" type="XmlAnmLaneTurns" minOccurs="0">
                                <xs:annotation>
                                        <xs:documentation>Contains all lane turns that belong to the node.</xs:documentation>
                                </xs:annotation>
                        </xs:element>
                        <xs:element name="CROSSWALKS" type="XmlAnmCrosswalks" minOccurs="0">
                                <xs:annotation>
                                        <xs:documentation>Contains all crosswalks that belong to the node.</xs:documentation>
                                </xs:annotation>
                        </xs:element>
                </xs:sequence>
                <xs:attribute name="NO" type="XmlAnmIndexType" use="required">
                        <xs:annotation>
                                <xs:documentation>The number of the node.</xs:documentation>
                        </xs:annotation>
                </xs:attribute>
                <xs:attribute name="NAME" type="xs:string" use="optional">
                        <xs:annotation>
                                <xs:documentation>The name of the node.</xs:documentation>
                        </xs:annotation>
                </xs:attribute>
                <xs:attribute name="XCOORD" type="xs:double" use="required">
                        <xs:annotation>
                                <xs:documentation>The x-coordinate of the position of the node in the network.</xs:documentation>
                        </xs:annotation>
                </xs:attribute>
                <xs:attribute name="YCOORD" type="xs:double" use="required">
                        <xs:annotation>
                                <xs:documentation>The y-coordinate of the position of the node in the network.</xs:documentation>
                        </xs:annotation>
                </xs:attribute>
                <xs:attribute name="ZCOORD" type="xs:double" use="optional">
                        <xs:annotation>
                                <xs:documentation>The z-coordinate of the position of the node in the network.</xs:documentation>
                        </xs:annotation>
                </xs:attribute>
                <xs:attribute name="CONTROLTYPE" type="XmlAnmControlType" use="required">
                        <xs:annotation>
                                <xs:documentation>The control type of the node.</xs:documentation>
                        </xs:annotation>
                </xs:attribute>
                <xs:attribute name="IGNOREDIFF" type="xs:boolean" use="optional">
                        <xs:annotation>
                                <xs:documentation>Whether changes to the node should be ignored, if the network is read adaptive or not.</xs:documentation>
                        </xs:annotation>
                </xs:attribute>
                <xs:attribute name="NUMLANES" type="xs:unsignedLong" use="optional">
                        <xs:annotation>
                                <xs:documentation>If the node type is roundabout, this attribute is required. In this case, the attribute is the number of lanes in the roundabout.</xs:documentation>
                        </xs:annotation>
                </xs:attribute>
                <xs:attribute name="ROUNDABOUTCIRCULATINGSPEED" type="xs:double" use="optional">
                        <xs:annotation>
                                <xs:documentation></xs:documentation>
                        </xs:annotation>
                </xs:attribute>
                <xs:attribute name="SCNO" type="XmlAnmIndexType" use="optional">
                        <xs:annotation>
                                <xs:documentation>The ID of the related signal controller</xs:documentation>
                        </xs:annotation>
                </xs:attribute>
                <xs:attribute name="CBD" type="xs:boolean" use="optional">
                        <xs:annotation>
                                <xs:documentation>Central business district. Default true.</xs:documentation>
                        </xs:annotation>
                </xs:attribute>
                <xs:attribute name="LOSSTIME" type="xs:double" use="optional">
                        <xs:annotation>
                                <xs:documentation>Loss time >=0.0, default = 0.0.</xs:documentation>
                        </xs:annotation>
                </xs:attribute>
        </xs:complexType>
        <xs:complexType name="XmlAnmNodes">
                <xs:annotation>
                        <xs:documentation>A list containing nodes.</xs:documentation>
                </xs:annotation>
                <xs:sequence>
                        <xs:element name="NODE" type="XmlAnmNode" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
        </xs:complexType>
        <xs:complexType name="XmlAnmPoint">
                <xs:annotation>
                        <xs:documentation>A coordinate in a 3-dimensional space.</xs:documentation>
                </xs:annotation>
                <xs:attribute name="INDEX" type="XmlAnmIndexType" use="required">
                        <xs:annotation>
                                <xs:documentation>The id of the point.</xs:documentation>
                        </xs:annotation>
                </xs:attribute>
                <xs:attribute name="XCOORD" type="xs:double" use="required">
                        <xs:annotation>
                                <xs:documentation>The x coordinate of the point.</xs:documentation>
                        </xs:annotation>
                </xs:attribute>
                <xs:attribute name="YCOORD" type="xs:double" use="required">
                        <xs:annotation>
                                <xs:documentation>The y coordinate of the point.</xs:documentation>
                        </xs:annotation>
                </xs:attribute>
                <xs:attribute name="ZCOORD" type="xs:double" use="optional">
                        <xs:annotation>
                                <xs:documentation>The z coordinate of the point.</xs:documentation>
                        </xs:annotation>
                </xs:attribute>
        </xs:complexType>
        <xs:complexType name="XmlAnmPtLines">
                <xs:annotation>
                        <xs:documentation>A list containing public transport lines.</xs:documentation>
                </xs:annotation>
                <xs:sequence>
                        <xs:element name="PTLINE" type="XmlAnmPtLine" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
        </xs:complexType>
        <xs:complexType name="XmlAnmSignalControl">
                <xs:annotation>
                        <xs:documentation>A signal control.</xs:documentation>
                </xs:annotation>
                <xs:sequence>
                        <xs:element name="SIGNALGROUPS" type="XmlAnmSignalGroups" minOccurs="0"/>
                        <xs:element name="INTERGREENS" type="XmlAnmIntergreens" minOccurs="0"/>
                </xs:sequence>
                <xs:attribute name="NO" type="XmlAnmIndexType" use="required"/>
                <xs:attribute name="NAME" type="xs:string" use="optional"/>
                <xs:attribute name="CYCLETIME" type="xs:duration" use="required"/>
                <xs:attribute name="TIMEOFFSET" type="xs:duration" use="required"/>
                <xs:attribute name="SIGNALIZATIONTYPE" type="XmlAnmSignalizationType" use="required"/>
                <xs:attribute name="CYCLETIMEFIXED" type="xs:boolean" use="required"/>
                <xs:attribute name="PROGRAMNO" type="xs:unsignedLong" use="optional"/>
                <xs:attribute name="PROGRAMFILE" type="xs:string" use="optional"/>
                <xs:attribute name="SUPPLYFILE1" type="xs:string" use="optional"/>
                <xs:attribute name="SUPPLYFILE2" type="xs:string" use="optional"/>
                <xs:attribute name="SUPPLYFILE3" type="xs:string" use="optional"/>
                <xs:attribute name="WTT1" type="xs:string" use="optional"/>
                <xs:attribute name="WTT2" type="xs:string" use="optional"/>
                <xs:attribute name="WTT3" type="xs:string" use="optional"/>
        </xs:complexType>
        <xs:complexType name="XmlAnmSignalControls">
                <xs:annotation>
                        <xs:documentation>A list containing signal controls.</xs:documentation>
                </xs:annotation>
                <xs:sequence>
                        <xs:element name="SIGNALCONTROL" type="XmlAnmSignalControl" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
        </xs:complexType>
        <xs:complexType name="XmlAnmIntergreens">
                <xs:annotation>
                        <xs:documentation>A list containing intergreens.</xs:documentation>
                </xs:annotation>
                <xs:sequence>
                        <xs:element name="INTERGREEN" type="XmlAnmIntergreen" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
        </xs:complexType>
        <xs:complexType name="XmlAnmIntergreen">
                <xs:annotation>
                        <xs:documentation>This represents the intergreen time for two signal groups. For future use.</xs:documentation>
                </xs:annotation>
                <xs:attribute name="FROMSGNO" type="XmlAnmIndexType" use="required">
                        <xs:annotation>
                                <xs:documentation>The number of the from signal group.</xs:documentation>
                        </xs:annotation>
                </xs:attribute>
                <xs:attribute name="TOSGNO" type="XmlAnmIndexType" use="required">
                        <xs:annotation>
                                <xs:documentation>The number of the to signal group.</xs:documentation>
                        </xs:annotation>
                </xs:attribute>
                <xs:attribute name="INTERGREEN" type="xs:duration" use="required">
                        <xs:annotation>
                                <xs:documentation>The duration of the intergreen.</xs:documentation>
                        </xs:annotation>
                </xs:attribute>
        </xs:complexType>
        <xs:complexType name="XmlAnmTurn">
                <xs:annotation>
                        <xs:documentation>A turn connects an inbound link with an outbound link at a node. It is not allowed to specify both turn and lane turns. Lane turns allows a more detailed description of a connection between to links.</xs:documentation>
                </xs:annotation>
                <xs:sequence>
                        <xs:element name="BLOCKEDVEHCLASSES" type="XmlAnmBlockedVehClasses" minOccurs="0">
                                <xs:annotation>
                                        <xs:documentation>Contains all vehicle classes, that are not allowed for the link.</xs:documentation>
                                </xs:annotation>
                        </xs:element>
                </xs:sequence>
                <xs:attribute name="FROMLINKID" type="xs:string" use="required">
                        <xs:annotation>
                                <xs:documentation>The id of the link the turn comes from. Both FROMLINKID and TOLINKID should belong to the same node. The FROMLINKID should end at  this node.</xs:documentation>
                        </xs:annotation>
                </xs:attribute>
                <xs:attribute name="TOLINKID" type="xs:string" use="required">
                        <xs:annotation>
                                <xs:documentation>The id of the link the turn goes to. Both FROMLINKID and TOLINKID should belong to the same node. The TOLINKID should begin at this node.</xs:documentation>
                        </xs:annotation>
                </xs:attribute>
                <xs:attribute name="TRAFFICSIGN" type="XmlAnmSignType" use="optional">
                        <xs:annotation>
                                <xs:documentation>The type of the traffic sign.</xs:documentation>
                        </xs:annotation>
                </xs:attribute>
                <xs:attribute name="REDUCEDSPEED" type="xs:double" use="optional">
                        <xs:annotation>
                                <xs:documentation>The reduced speed of the turn.</xs:documentation>
                        </xs:annotation>
                </xs:attribute>
                <xs:attribute name="PHF" type="xs:double" use="optional">
                        <xs:annotation>
                                <xs:documentation>Peak hour factor: minimum 0.25, maximum  1.0, default 1.0.</xs:documentation>
                        </xs:annotation>
                </xs:attribute>
        </xs:complexType>
        <xs:complexType name="XmlAnmTurns">
                <xs:annotation>
                        <xs:documentation>A list containing turns.</xs:documentation>
                </xs:annotation>
                <xs:sequence>
                        <xs:element name="TURN" type="XmlAnmTurn" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
        </xs:complexType>
        <xs:complexType name="XmlAnmVehClass">
                <xs:annotation>
                        <xs:documentation>A class of vehicles.</xs:documentation>
                </xs:annotation>
                <xs:sequence>
                        <xs:element name="VEHTYPEID" type="XmlAnmVehTypeNo" maxOccurs="unbounded"/>
                </xs:sequence>
                <xs:attribute name="ID" type="xs:string" use="required"/>
                <xs:attribute name="NAME" type="xs:string" use="optional"/>
        </xs:complexType>
        <xs:complexType name="XmlAnmVehClasses">
                <xs:annotation>
                        <xs:documentation>A list containing all vehicle classes.</xs:documentation>
                </xs:annotation>
                <xs:sequence>
                        <xs:element name="VEHCLASS" type="XmlAnmVehClass" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
        </xs:complexType>
        <xs:complexType name="XmlAnmVehType">
                <xs:annotation>
                        <xs:documentation>A vehicle type.</xs:documentation>
                </xs:annotation>
                <xs:attribute name="NO" type="XmlAnmIndexType" use="required"/>
                <xs:attribute name="NAME" type="xs:string" use="optional"/>
                <xs:attribute name="VEHCATEGORY" type="XmlAnmVehicleCategoryType" use="required"/>
        </xs:complexType>
        <xs:complexType name="XmlAnmVehTypes">
                <xs:annotation>
                        <xs:documentation>A list containing vehicle types.</xs:documentation>
                </xs:annotation>
                <xs:sequence>
                        <xs:element name="VEHTYPE" type="XmlAnmVehType" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
        </xs:complexType>
        <xs:complexType name="XmlAnmVehTypeNo">
                <xs:annotation>
                        <xs:documentation>A vehicle type number.</xs:documentation>
                </xs:annotation>
                <xs:attribute name="NO" type="xs:unsignedLong" use="required"/>
        </xs:complexType>
        <xs:complexType name="XmlAnmZone">
                <xs:annotation>
                        <xs:documentation>A zone is an area, where vehicles enter or leave the network.</xs:documentation>
                </xs:annotation>
                <xs:sequence>
                        <xs:element name="CONNECTORS" type="XmlAnmConnectors">
                                <xs:annotation>
                                        <xs:documentation>Contains all connectors, that belongs to the zone.</xs:documentation>
                                </xs:annotation>
                        </xs:element>
                </xs:sequence>
                <xs:attribute name="NO" type="XmlAnmIndexType" use="required">
                        <xs:annotation>
                                <xs:documentation>The number of the zone.</xs:documentation>
                        </xs:annotation>
                </xs:attribute>
                <xs:attribute name="XCOORD" type="xs:double" use="required">
                        <xs:annotation>
                                <xs:documentation>The x part of the coordinate, that describes the position of the node in the network.</xs:documentation>
                        </xs:annotation>
                </xs:attribute>
                <xs:attribute name="YCOORD" type="xs:double" use="required">
                        <xs:annotation>
                                <xs:documentation>The y part of the coordinate, that describes the position of the node in the network.</xs:documentation>
                        </xs:annotation>
                </xs:attribute>
                <xs:attribute name="ZCOORD" type="xs:double" use="optional">
                        <xs:annotation>
                                <xs:documentation>The z part of the coordinate, that describes the position of the node in the network.</xs:documentation>
                        </xs:annotation>
                </xs:attribute>
        </xs:complexType>
        <xs:complexType name="XmlAnmZones">
                <xs:annotation>
                        <xs:documentation>A list with zones.</xs:documentation>
                </xs:annotation>
                <xs:sequence>
                        <xs:element name="ZONE" type="XmlAnmZone" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
        </xs:complexType>
        <xs:complexType name="XmlAnmBlockedVehClass">
                <xs:annotation>
                        <xs:documentation>A vehicle class the is not allowed for a specific network element.</xs:documentation>
                </xs:annotation>
                <xs:attribute name="VEHCLASS" type="xs:string"/>
        </xs:complexType>
        <xs:complexType name="XmlAnmBlockedVehClasses">
                <xs:annotation>
                        <xs:documentation>A list with blocked vehicle classes.</xs:documentation>
                </xs:annotation>
                <xs:sequence>
                        <xs:element name="BLOCKEDVEHCLASS" type="XmlAnmBlockedVehClass" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
        </xs:complexType>
        <xs:complexType name="XmlAnmAffectedVehClass">
                <xs:annotation>
                        <xs:documentation>A vehicle class that is related to a specific network element.</xs:documentation>
                </xs:annotation>
                <xs:attribute name="VEHCLASS" type="xs:string"/>
        </xs:complexType>
        <xs:complexType name="XmlAnmAffectedVehClasses">
                <xs:annotation>
                        <xs:documentation>A list with affected vehicle classes.</xs:documentation>
                </xs:annotation>
                <xs:sequence>
                        <xs:element name="AFFECTEDVEHCLASS" type="XmlAnmAffectedVehClass" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
        </xs:complexType>
        <xs:complexType name="XmlAnmPtStop">
                <xs:annotation>
                        <xs:documentation>A stop for public transport.</xs:documentation>
                </xs:annotation>
                <xs:attribute name="ID" type="xs:string" use="required"/>
                <xs:attribute name="BAY" type="xs:boolean" use="required"/>
                <xs:attribute name="RELPOS" type="xs:double" use="required"/>
                <xs:attribute name="LINKID" type="xs:string" use="required"/>
                <xs:attribute name="LENGTH" type="xs:double" use="optional"/>
                <xs:attribute name="NAME" type="xs:string" use="optional"/>
        </xs:complexType>
        <xs:complexType name="XmlAnmPtStops">
                <xs:annotation>
                        <xs:documentation>A list with stops for public transport.</xs:documentation>
                </xs:annotation>
                <xs:sequence>
                        <xs:element name="PTSTOP" type="XmlAnmPtStop" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
        </xs:complexType>
        <xs:complexType name="XmlAnmPtLine">
                <xs:annotation>
                        <xs:documentation>A public transport line.</xs:documentation>
                </xs:annotation>
                <xs:sequence>
                        <xs:element name="PTLINEITEMS" type="XmlAnmPtLineItems" minOccurs="0" maxOccurs="unbounded">
                                <xs:annotation>
                                        <xs:documentation>The items of this public transport line.</xs:documentation>
                                </xs:annotation>
                        </xs:element>
                        <xs:element name="PTVEHJOURNEYS" type="XmlAnmPtVehJourneys" minOccurs="0" maxOccurs="unbounded">
                                <xs:annotation>
                                        <xs:documentation>The vehicle journeys of this public transport line.</xs:documentation>
                                </xs:annotation>
                        </xs:element>
                        <xs:element name="PTTELEGRAM" type="XmlAnmPtTelegram" minOccurs="0">
                                <xs:annotation>
                                        <xs:documentation>The telegram of this public transport line.</xs:documentation>
                                </xs:annotation>
                        </xs:element>
                </xs:sequence>
                <xs:attribute name="ID" type="xs:string" use="required">
                        <xs:annotation>
                                <xs:documentation>The id of this public transport line.</xs:documentation>
                        </xs:annotation>
                </xs:attribute>
                <xs:attribute name="VEHTYPEID" type="XmlAnmIndexType" use="required">
                        <xs:annotation>
                                <xs:documentation>The id of the vehicle type of this public transport line.</xs:documentation>
                        </xs:annotation>
                </xs:attribute>
                <xs:attribute name="NAME" type="xs:string" use="optional">
                        <xs:annotation>
                                <xs:documentation>The name of this public transport line.</xs:documentation>
                        </xs:annotation>
                </xs:attribute>
        </xs:complexType>
        <xs:complexType name="XmlAnmPtLineItems">
                <xs:annotation>
                        <xs:documentation>A list with line items for public transport.</xs:documentation>
                </xs:annotation>
                <xs:sequence>
                        <xs:element name="PTLINEITEM" type="XmlAnmPtLineItem" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
        </xs:complexType>
        <xs:complexType name="XmlAnmPtLineItem">
                <xs:annotation>
                        <xs:documentation>A public transport line is described by line items, that contain each node and each stop of a line, sorted in temporal order.</xs:documentation>
                </xs:annotation>
                <xs:attribute name="DEP" type="xs:duration" use="optional">
                        <xs:annotation>
                                <xs:documentation>The departure time relative to the departure time of the vehicle journeys of the corresponding line.</xs:documentation>
                        </xs:annotation>
                </xs:attribute>
                <xs:attribute name="STOPTIMEVARIANCE" type="xs:double" use="optional">
                        <xs:annotation>
                                <xs:documentation>The variance of the stoptime.</xs:documentation>
                        </xs:annotation>
                </xs:attribute>
                <xs:attribute name="STOPONREQUEST" type="xs:boolean" use="optional">
                        <xs:annotation>
                                <xs:documentation>This item is stop on request.</xs:documentation>
                        </xs:annotation>
                </xs:attribute>
                <xs:attribute name="STOPTIME" type="xs:duration" use="optional">
                        <xs:annotation>
                                <xs:documentation>The duration of the stop.</xs:documentation>
                        </xs:annotation>
                </xs:attribute>
                <xs:attribute name="NODENO" type="XmlAnmIndexType" use="optional">
                        <xs:annotation>
                                <xs:documentation>The node this item belongs to.</xs:documentation>
                        </xs:annotation>
                </xs:attribute>
                <xs:attribute name="INDEX" type="XmlAnmIndexType" use="required">
                        <xs:annotation>
                                <xs:documentation>The index of the item. The index should be unique in a list of items.</xs:documentation>
                        </xs:annotation>
                </xs:attribute>
                <xs:attribute name="STOPPOINTID" type="xs:string" use="optional">
                        <xs:annotation>
                                <xs:documentation>The id of the stop point.</xs:documentation>
                        </xs:annotation>
                </xs:attribute>
        </xs:complexType>
        <xs:complexType name="XmlAnmPtVehJourneys">
                <xs:annotation>
                        <xs:documentation>A list with journey elements for public transport.</xs:documentation>
                </xs:annotation>
                <xs:sequence>
                        <xs:element name="PTVEHJOURNEY" type="XmlAnmPtVehJourney" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
        </xs:complexType>
        <xs:complexType name="XmlAnmPtVehJourney">
                <xs:annotation>
                        <xs:documentation>The departure of a line at the first stop or node.</xs:documentation>
                </xs:annotation>
                <xs:attribute name="DEPARTURE" type="xs:duration" use="required">
                        <xs:annotation>
                                <xs:documentation>The absolute departure time of a line at the first stop or node.</xs:documentation>
                        </xs:annotation>
                </xs:attribute>
                <xs:attribute name="NO" type="XmlAnmIndexType" use="required">
                        <xs:annotation>
                                <xs:documentation>The number of this vehicle journey.</xs:documentation>
                        </xs:annotation>
                </xs:attribute>
        </xs:complexType>
        <xs:complexType name="XmlAnmSignalGroups">
                <xs:annotation>
                        <xs:documentation>A list with signal groups for public transport.</xs:documentation>
                </xs:annotation>
                <xs:sequence>
                        <xs:element name="SIGNALGROUP" type="XmlAnmSignalGroup" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
        </xs:complexType>
        <xs:complexType name="XmlAnmSignalGroup">
                <xs:annotation>
                        <xs:documentation>A signal group.</xs:documentation>
                </xs:annotation>
                <xs:attribute name="NO" type="XmlAnmIndexType" use="required"/>
                <xs:attribute name="NAME" type="xs:string" use="optional"/>
                <xs:attribute name="GTSTART" type="xs:duration" use="required"/>
                <xs:attribute name="GTSTART2" type="xs:duration" use="optional"/>
                <xs:attribute name="GTEND" type="xs:duration" use="required"/>
                <xs:attribute name="GTEND2" type="xs:duration" use="optional"/>
                <xs:attribute name="RATIME" type="xs:duration" use="optional"/>
                <xs:attribute name="ATIME" type="xs:duration" use="optional"/>
                <xs:attribute name="MINGTIME" type="xs:duration" use="optional"/>
                <xs:attribute name="MINRTIME" type="xs:duration" use="optional"/>
                <xs:attribute name="ALLRED" type="xs:duration" use="optional"/>
                <xs:attribute name="SIGNALGROUPTYPE" type="XmlAnmSignalGroupType" use="required"/>
        </xs:complexType>
        <xs:complexType name="XmlAnmCrosswalkSide">
                <xs:annotation>
                        <xs:documentation>The begin or the end of a crosswalk.</xs:documentation>
                </xs:annotation>
                <xs:sequence>
                        <xs:element name="DETECTORS" type="XmlAnmDetectors" minOccurs="0">
                                <xs:annotation>
                                        <xs:documentation>Contains all detectors for the lane.</xs:documentation>
                                </xs:annotation>
                        </xs:element>
                </xs:sequence>
                <xs:attribute name="SGNO" type="XmlAnmIndexType" use="optional">
                        <xs:annotation>
                                <xs:documentation>Number of the signalgroup.</xs:documentation>
                        </xs:annotation>
                </xs:attribute>
                <xs:attribute name="PEDVOL" type="xs:unsignedLong" use="optional">
                        <xs:annotation>
                                <xs:documentation>The pedestrial volume.</xs:documentation>
                        </xs:annotation>
                </xs:attribute>
                <xs:attribute name="BIKEVOL" type="xs:unsignedLong" use="optional">
                        <xs:annotation>
                                <xs:documentation>The bike volume.</xs:documentation>
                        </xs:annotation>
                </xs:attribute>
                <xs:attribute name="XCOORD" type="xs:double" use="optional">
                        <xs:annotation>
                                <xs:documentation>The x-coordinate. If it is defined, the y-coordinate also has to be defined, as well as the coordinates of the partner crosswalkside.</xs:documentation>
                        </xs:annotation>
                </xs:attribute>
                <xs:attribute name="YCOORD" type="xs:double" use="optional">
                        <xs:annotation>
                                <xs:documentation>The y-coordinate. If it is defined, the x-coordinate also has to be defined, as well as the coordinates of the partner crosswalkside.</xs:documentation>
                        </xs:annotation>
                </xs:attribute>
        </xs:complexType>
        <xs:complexType name="XmlAnmMatrix">
                <xs:annotation>
                        <xs:documentation>A matrix describing traffic volumes.</xs:documentation>
                </xs:annotation>
                <xs:sequence>
                        <xs:element name="ELEMS" type="XmlAnmMatrixElems" minOccurs="0">
                                <xs:annotation>
                                        <xs:documentation>The elements of the matrix.</xs:documentation>
                                </xs:annotation>
                        </xs:element>
                </xs:sequence>
                <xs:attribute name="VEHTYPEID" type="XmlAnmIndexType" use="required">
                        <xs:annotation>
                                <xs:documentation>The id of the vehicle type for which this matrix is defined.</xs:documentation>
                        </xs:annotation>
                </xs:attribute>
                <xs:attribute name="FROMTIME" type="xs:time" use="required">
                        <xs:annotation>
                                <xs:documentation>The starting time of the demand volumes of this matrix.</xs:documentation>
                        </xs:annotation>
                </xs:attribute>
                <xs:attribute name="TOTIME" type="xs:time" use="required">
                        <xs:annotation>
                                <xs:documentation>The ending time of the demand volumes of this matrix.</xs:documentation>
                        </xs:annotation>
                </xs:attribute>
                <xs:attribute name="FACTOR" type="xs:double" use="optional">
                        <xs:annotation>
                                <xs:documentation>All elements of this matrix are multiplied with this factor.</xs:documentation>
                        </xs:annotation>
                </xs:attribute>
        </xs:complexType>
        <xs:complexType name="XmlAnmMatrixElems">
                <xs:annotation>
                        <xs:documentation>A list containing matrix elements.</xs:documentation>
                </xs:annotation>
                <xs:sequence>
                        <xs:element name="ELEM" type="XmlAnmMatrixElem" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
        </xs:complexType>
        <xs:complexType name="XmlAnmMatrixElem">
                <xs:annotation>
                        <xs:documentation>The traffic volume for a relation of two nodes.</xs:documentation>
                </xs:annotation>
                <xs:attribute name="FROMZONENO" type="XmlAnmIndexType" use="required"/>
                <xs:attribute name="TOZONENO" type="XmlAnmIndexType" use="required"/>
                <xs:attribute name="VOLUME" type="xs:double" use="required"/>
        </xs:complexType>
        <xs:complexType name="XmlAnmMatrices">
                <xs:annotation>
                        <xs:documentation>A list containing matrices.</xs:documentation>
                </xs:annotation>
                <xs:sequence>
                        <xs:element name="MATRIX" type="XmlAnmMatrix" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
        </xs:complexType>
        <xs:complexType name="XmlAnmRoutes">
                <xs:annotation>
                        <xs:documentation>A list containing routes.</xs:documentation>
                </xs:annotation>
                <xs:sequence>
                        <xs:element name="ROUTE" type="XmlAnmRoute" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
        </xs:complexType>
        <xs:complexType name="XmlAnmRoute">
                <xs:annotation>
                        <xs:documentation>A route through the network that could be used by vehicles.</xs:documentation>
                </xs:annotation>
                <xs:sequence>
                        <xs:element name="ITEMS" type="XmlAnmRouteItems" minOccurs="0" maxOccurs="unbounded"/>
                        <xs:element name="DEMANDS" type="XmlAnmRouteDemands" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
                <xs:attribute name="FROMZONENO" type="XmlAnmIndexType" use="optional">
                        <xs:annotation>
                                <xs:documentation>The fromZone of this route. Either both fromZone and toZone have to be given or none. If both are given, this route is a zone otherwise it is a node route.</xs:documentation>
                        </xs:annotation>
                </xs:attribute>
                <xs:attribute name="TOZONENO" type="XmlAnmIndexType" use="optional">
                        <xs:annotation>
                                <xs:documentation>The toZone of this route. Either both fromZone and toZone have to be given or none. If both are given, this route is a zone otherwise it is a node route.</xs:documentation>
                        </xs:annotation>
                </xs:attribute>
                <xs:attribute name="INDEX" type="XmlAnmIndexType" use="required">
                        <xs:annotation>
                                <xs:documentation>The index of this route. Must be unique throughout the file.</xs:documentation>
                        </xs:annotation>
                </xs:attribute>
        </xs:complexType>
        <xs:complexType name="XmlAnmRouteDemands">
                <xs:annotation>
                        <xs:documentation>A list containing route demands.</xs:documentation>
                </xs:annotation>
                <xs:sequence>
                        <xs:element name="DEMAND" type="XmlAnmRouteDemand" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
        </xs:complexType>
        <xs:complexType name="XmlAnmRouteDemand">
                <xs:annotation>
                        <xs:documentation>A route demand describes the traffice induced by a vehicle type in a given time interval.</xs:documentation>
                </xs:annotation>
                <xs:attribute name="VTI" type="XmlAnmIndexType" use="required"/>
                <xs:attribute name="VOLUME" type="xs:double" use="required"/>
        </xs:complexType>
        <xs:complexType name="XmlAnmRouteItems">
                <xs:annotation>
                        <xs:documentation>A list containing route items.</xs:documentation>
                </xs:annotation>
                <xs:sequence>
                        <xs:element name="ITEM" type="XmlAnmRouteItem" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
        </xs:complexType>
        <xs:complexType name="XmlAnmRouteItem">
                <xs:annotation>
                        <xs:documentation>A route item describes the course of a route in temporal order.</xs:documentation>
                </xs:annotation>
                <xs:attribute name="NODE" type="XmlAnmNodeLinkPair" use="required"/>
        </xs:complexType>
        <xs:simpleType name="XmlAnmSignalGroupType">
                <xs:annotation>
                        <xs:documentation>Contains all possible signal group types.</xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:string">
                        <xs:enumeration value="Cycle"/>
                        <xs:enumeration value="PermanentGreen"/>
                        <xs:enumeration value="PermanentRed"/>
                        <xs:enumeration value="GreenArrow"/>
                        <xs:enumeration value="Flashing"/>
                </xs:restriction>
        </xs:simpleType>
        <xs:simpleType name="XmlAnmVehicleCategoryType">
                <xs:annotation>
                        <xs:documentation>Contains all possible vehicle category types.</xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:string">
                        <xs:enumeration value="Tram"/>
                        <xs:enumeration value="Bus"/>
                        <xs:enumeration value="Pedestrian"/>
                        <xs:enumeration value="HGV"/>
                        <xs:enumeration value="Car"/>
                        <xs:enumeration value="Bike"/>
                </xs:restriction>
        </xs:simpleType>
        <xs:simpleType name="XmlAnmDrivingBehaviorType">
                <xs:annotation>
                        <xs:documentation>Contains all possible driving behavior types.</xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:string">
                        <xs:enumeration value="Urban"/>
                        <xs:enumeration value="RightSideRule"/>
                        <xs:enumeration value="Freeway"/>
                        <xs:enumeration value="Footpath"/>
                        <xs:enumeration value="CyclePath"/>
                </xs:restriction>
        </xs:simpleType>
        <xs:simpleType name="XmlAnmControlType">
                <xs:annotation>
                        <xs:documentation>Contains all possible control types.</xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:string">
                        <xs:enumeration value="Unknown"/>
                        <xs:enumeration value="Uncontrolled"/>
                        <xs:enumeration value="TwoWayStop"/>
                        <xs:enumeration value="TwoWayYield"/>
                        <xs:enumeration value="Signalized"/>
                        <xs:enumeration value="AllWayStop"/>
                        <xs:enumeration value="Roundabout"/>
                </xs:restriction>
        </xs:simpleType>
        <xs:simpleType name="XmlAnmSignalizationType">
                <xs:annotation>
                        <xs:documentation>Contains all possible signalization types.</xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:string">
                        <xs:enumeration value="FixedTime"/>
                        <xs:enumeration value="Nema"/>
                        <xs:enumeration value="VAP"/>
                        <xs:enumeration value="SiemensVA"/>
                        <xs:enumeration value="Extern"/>
                        <xs:enumeration value="VsPlus"/>
                        <xs:enumeration value="RBC"/>
                        <xs:enumeration value="ASC3"/>
                        <xs:enumeration value="D4"/>
                        <xs:enumeration value="2033"/>
                </xs:restriction>
        </xs:simpleType>
        <xs:simpleType name="XmlAnmSignalType">
                <xs:annotation>
                        <xs:documentation>Contains all possible signal types.</xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:string">
                        <xs:enumeration value="Circular"/>
                        <xs:enumeration value="RightArrow"/>
                        <xs:enumeration value="LeftArrow"/>
                </xs:restriction>
        </xs:simpleType>
        <xs:simpleType name="XmlAnmSignType">
                <xs:annotation>
                        <xs:documentation>Contains all possible sign types.</xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:string">
                        <xs:enumeration value="Nothing"/>
                        <xs:enumeration value="Yield"/>
                        <xs:enumeration value="Stop"/>
                </xs:restriction>
        </xs:simpleType>
        <xs:simpleType name="XmlAnmDetectorType">
                <xs:annotation>
                        <xs:documentation>Contains all possible detector types.</xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:string">
                        <xs:enumeration value="Standard"/>
                        <xs:enumeration value="CallingPoint"/>
                </xs:restriction>
        </xs:simpleType>
        <xs:complexType name="XmlAnmAffectedPTLine">
                <xs:annotation>
                        <xs:documentation>A PT line which is affected for a specific network element.</xs:documentation>
                </xs:annotation>
                <xs:attribute name="ID " type="xs:string" use="required"/>
        </xs:complexType>
        <xs:complexType name="XmlAnmAffectedPTLines">
                <xs:annotation>
                        <xs:documentation>A list with affected PT lines.</xs:documentation>
                </xs:annotation>
                <xs:sequence>
                        <xs:element name="AFFECTEDPTLINE" type="XmlAnmAffectedPTLine" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
        </xs:complexType>
        <xs:complexType name="XmlAnmDetector">
                <xs:annotation>
                        <xs:documentation>A detector that collects traffic data.</xs:documentation>
                </xs:annotation>
                <xs:sequence>
                        <xs:element name="AFFECTEDPTLINES" type="XmlAnmAffectedPTLines" minOccurs="0"/>
                        <xs:element name="AFFECTEDVEHCLASSES" type="XmlAnmAffectedVehClasses" minOccurs="0">
                                <xs:annotation>
                                        <xs:documentation>Contains all vehicle classes that are detected.</xs:documentation>
                                </xs:annotation>
                        </xs:element>
                </xs:sequence>
                <xs:attribute name="TYPE" type="XmlAnmDetectorType" use="optional">
                        <xs:annotation>
                                <xs:documentation>The detector type.</xs:documentation>
                        </xs:annotation>
                </xs:attribute>
                <xs:attribute name="SCNO" type="XmlAnmIndexType" use="optional">
                        <xs:annotation>
                                <xs:documentation>The number of the detector signal control number.</xs:documentation>
                        </xs:annotation>
                </xs:attribute>
                <xs:attribute name="PORTNO" type="xs:unsignedLong" use="required">
                        <xs:annotation>
                                <xs:documentation>The detector port number.</xs:documentation>
                        </xs:annotation>
                </xs:attribute>
                <xs:attribute name="NAME" type="xs:string" use="optional">
                        <xs:annotation>
                                <xs:documentation>The name of the detector.</xs:documentation>
                        </xs:annotation>
                </xs:attribute>
                <xs:attribute name="POSOFFSET" type="xs:double" use="optional">
                        <xs:annotation>
                                <xs:documentation>The detector offset.</xs:documentation>
                        </xs:annotation>
                </xs:attribute>
                <xs:attribute name="LENGTH" type="xs:double" use="optional">
                        <xs:annotation>
                                <xs:documentation>The detector length.</xs:documentation>
                        </xs:annotation>
                </xs:attribute>
        </xs:complexType>
        <xs:complexType name="XmlAnmDetectors">
                <xs:annotation>
                        <xs:documentation>A list containing detectors.</xs:documentation>
                </xs:annotation>
                <xs:sequence>
                        <xs:element name="DETECTOR" type="XmlAnmDetector" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
        </xs:complexType>
        <xs:complexType name="XmlAnmVehTypeTI">
                <xs:annotation>
                        <xs:documentation> Contains a vehicle type specific time interval.</xs:documentation>
                </xs:annotation>
                <xs:attribute name="INDEX" type="XmlAnmIndexType" use="required"/>
                <xs:attribute name="FROMTIME" type="xs:time" use="required"/>
                <xs:attribute name="TOTIME" type="xs:time" use="required"/>
                <xs:attribute name="VEHTYPEID" type="XmlAnmIndexType" use="required"/>
        </xs:complexType>
        <xs:complexType name="XmlAnmVehTypeTIs">
                <xs:annotation>
                        <xs:documentation>A list containing vehicle type specific time intervals.</xs:documentation>
                </xs:annotation>
                <xs:sequence>
                        <xs:element name="VEHTYPETI" type="XmlAnmVehTypeTI" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
        </xs:complexType>
        <xs:complexType name="XmlAnmRouting">
                <xs:annotation>
                        <xs:documentation>Contains the routing data.</xs:documentation>
                </xs:annotation>
                <xs:all>
                        <xs:element name="VEHTYPETIS" type="XmlAnmVehTypeTIs" minOccurs="0"/>
                        <xs:element name="ROUTES" type="XmlAnmRoutes" minOccurs="0"/>
                </xs:all>
        </xs:complexType>
        <xs:simpleType name="XmlAnmNodeLinkPair" final="">
                <xs:annotation>
                        <xs:documentation>Contains at least one element, at most two. The lost contains the node id and an optional link id.</xs:documentation>
                </xs:annotation>
                <xs:list itemType="xs:string"/>
        </xs:simpleType>
        <xs:simpleType name="XmlAnmIndexType">
                <xs:annotation>
                        <xs:documentation>The type is used for all id types in Anm. An id should be a non negative number > 0.</xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:unsignedLong">
                        <xs:minInclusive value="1"/>
                </xs:restriction>
        </xs:simpleType>
        <xs:complexType name="XmlAnmPtTelegram">
                <xs:annotation>
                        <xs:documentation>A public transport telegram.</xs:documentation>
                </xs:annotation>
                <xs:attribute name="SENDSPTTELEGRAM" type="xs:boolean" use="required">
                </xs:attribute>
                <xs:attribute name="PTLINE" type="xs:integer" use="optional">
                </xs:attribute>
                <xs:attribute name="ROUTE" type="xs:integer" use="optional">
                </xs:attribute>
                <xs:attribute name="PRIORITY" type="xs:integer" use="optional">
                </xs:attribute>
                <xs:attribute name="TRAMLENGTH" type="xs:integer" use="optional">
                </xs:attribute>
                <xs:attribute name="MANUALDIRECTION" type="xs:integer" use="optional">
                </xs:attribute>
        </xs:complexType>
</xs:schema>
