ots-parser-xml/src/main/resources/xsd/ots-model.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.opentrafficsim.org/ots"
  xmlns:ots="http://www.opentrafficsim.org/ots"  xmlns:xi="http://www.w3.org/2001/XInclude"
  xmlns:xsl="http://www.w3.org/1999/XSL/Transform" elementFormDefault="qualified">

  <!-- http://www.w3.org/2009/01/xml.xsd -->
  <xsd:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="ref/xml.xsd" />
  <!-- http://www.w3.org/2001/xinclude.xsd -->
  <xsd:import namespace="http://www.w3.org/2001/XInclude" schemaLocation="ref/xinclude.xsd" />

  <xsd:include schemaLocation="ots-types.xsd" />

  <!-- TODO: parts of a model depending on GTU type, or with a distribution (e.g. 25% overestimates, 75% underestimates). -->
  <!-- TODO: differences based on scenario -->

  <xsd:element name="Model" type="ots:ModelType" />

  <xsd:element name="Parameters">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:choice maxOccurs="unbounded">
          <xsd:element name="String" type="ots:ParameterTypeString" />
          <xsd:element name="Acceleration" type="ots:ParameterTypeAcceleration" />
          <xsd:element name="Boolean" type="ots:ParameterTypeBoolean" />
          <xsd:element name="Class" type="ots:ParameterTypeClass" />
          <xsd:element name="Double" type="ots:ParameterTypeDouble" />
          <!-- xsd:element name="FLOAT" type="ots:ParameterTypeFloat" />
          <xsd:element name="LONG" type="ots:ParameterTypeLone" / -->
          <xsd:element name="Duration" type="ots:ParameterTypeDuration" />
          <xsd:element name="Fraction" type="ots:ParameterTypeFraction" />
          <xsd:element name="Frequency" type="ots:ParameterTypeFrequency" />
          <xsd:element name="Integer" type="ots:ParameterTypeInteger" />
          <xsd:element name="Length" type="ots:ParameterTypeLength" />
          <xsd:element name="LinearDensity" type="ots:ParameterTypeLinearDensity" />
          <xsd:element name="Speed" type="ots:ParameterTypeSpeed" />
        </xsd:choice>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <xsd:complexType name="ModelType">
    <xsd:sequence>

      <xsd:element name="ModelParameters" minOccurs="0" maxOccurs="1">
        <xsd:complexType>
          <xsd:choice minOccurs="1" maxOccurs="unbounded">
            <xsd:element name="String">
              <xsd:complexType>
                <xsd:complexContent>
                  <xsd:extension base="ots:ParameterString">
                    <xsd:attribute name="GtuType" type="xsd:string" use="optional" />
                  </xsd:extension>
                </xsd:complexContent>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name="Acceleration">
              <xsd:complexType>
                <xsd:complexContent>
                  <xsd:extension base="ots:ParameterAcceleration">
                    <xsd:attribute name="GtuType" type="xsd:string" use="optional" />
                  </xsd:extension>
                </xsd:complexContent>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name="AccelerationDist">
              <xsd:complexType>
                <xsd:complexContent>
                  <xsd:extension base="ots:ParameterAccelerationDist">
                    <xsd:attribute name="GtuType" type="xsd:string" use="optional" />
                  </xsd:extension>
                </xsd:complexContent>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name="Boolean">
              <xsd:complexType>
                <xsd:complexContent>
                  <xsd:extension base="ots:ParameterBoolean">
                    <xsd:attribute name="GtuType" type="xsd:string" use="optional" />
                  </xsd:extension>
                </xsd:complexContent>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name="Class">
              <xsd:complexType>
                <xsd:complexContent>
                  <xsd:extension base="ots:ParameterClass">
                    <xsd:attribute name="GtuType" type="xsd:string" use="optional" />
                  </xsd:extension>
                </xsd:complexContent>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name="Double">
              <xsd:complexType>
                <xsd:complexContent>
                  <xsd:extension base="ots:ParameterDouble">
                    <xsd:attribute name="GtuType" type="xsd:string" use="optional" />
                  </xsd:extension>
                </xsd:complexContent>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name="DoubleDist">
              <xsd:complexType>
                <xsd:complexContent>
                  <xsd:extension base="ots:ParameterDoubleDist">
                    <xsd:attribute name="GtuType" type="xsd:string" use="optional" />
                  </xsd:extension>
                </xsd:complexContent>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name="Duration">
              <xsd:complexType>
                <xsd:complexContent>
                  <xsd:extension base="ots:ParameterDuration">
                    <xsd:attribute name="GtuType" type="xsd:string" use="optional" />
                  </xsd:extension>
                </xsd:complexContent>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name="DurationDist">
              <xsd:complexType>
                <xsd:complexContent>
                  <xsd:extension base="ots:ParameterDurationDist">
                    <xsd:attribute name="GtuType" type="xsd:string" use="optional" />
                  </xsd:extension>
                </xsd:complexContent>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name="Fraction">
              <xsd:complexType>
                <xsd:complexContent>
                  <xsd:extension base="ots:ParameterFraction">
                    <xsd:attribute name="GtuType" type="xsd:string" use="optional" />
                  </xsd:extension>
                </xsd:complexContent>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name="Frequency">
              <xsd:complexType>
                <xsd:complexContent>
                  <xsd:extension base="ots:ParameterFrequency">
                    <xsd:attribute name="GtuType" type="xsd:string" use="optional" />
                  </xsd:extension>
                </xsd:complexContent>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name="FrequencyDist">
              <xsd:complexType>
                <xsd:complexContent>
                  <xsd:extension base="ots:ParameterFrequencyDist">
                    <xsd:attribute name="GtuType" type="xsd:string" use="optional" />
                  </xsd:extension>
                </xsd:complexContent>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name="Integer">
              <xsd:complexType>
                <xsd:complexContent>
                  <xsd:extension base="ots:ParameterInteger">
                    <xsd:attribute name="GtuType" type="xsd:string" use="optional" />
                  </xsd:extension>
                </xsd:complexContent>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name="IntegerDist">
              <xsd:complexType>
                <xsd:complexContent>
                  <xsd:extension base="ots:ParameterIntegerDist">
                    <xsd:attribute name="GtuType" type="xsd:string" use="optional" />
                  </xsd:extension>
                </xsd:complexContent>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name="Length">
              <xsd:complexType>
                <xsd:complexContent>
                  <xsd:extension base="ots:ParameterLength">
                    <xsd:attribute name="GtuType" type="xsd:string" use="optional" />
                  </xsd:extension>
                </xsd:complexContent>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name="LengthDist">
              <xsd:complexType>
                <xsd:complexContent>
                  <xsd:extension base="ots:ParameterLengthDist">
                    <xsd:attribute name="GtuType" type="xsd:string" use="optional" />
                  </xsd:extension>
                </xsd:complexContent>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name="LinearDensity">
              <xsd:complexType>
                <xsd:complexContent>
                  <xsd:extension base="ots:ParameterLinearDensity">
                    <xsd:attribute name="GtuType" type="xsd:string" use="optional" />
                  </xsd:extension>
                </xsd:complexContent>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name="LinearDensityDist">
              <xsd:complexType>
                <xsd:complexContent>
                  <xsd:extension base="ots:ParameterLinearDensityDist">
                    <xsd:attribute name="GtuType" type="xsd:string" use="optional" />
                  </xsd:extension>
                </xsd:complexContent>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name="Speed">
              <xsd:complexType>
                <xsd:complexContent>
                  <xsd:extension base="ots:ParameterSpeed">
                    <xsd:attribute name="GtuType" type="xsd:string" use="optional" />
                  </xsd:extension>
                </xsd:complexContent>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name="SpeedDist">
              <xsd:complexType>
                <xsd:complexContent>
                  <xsd:extension base="ots:ParameterSpeedDist">
                    <xsd:attribute name="GtuType" type="xsd:string" use="optional" />
                  </xsd:extension>
                </xsd:complexContent>
              </xsd:complexType>
            </xsd:element>
          </xsd:choice>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="StrategicalPlanner" minOccurs="0">
        <xsd:complexType>
          <xsd:choice>

            <!-- Lane-based strategical route planner -->
            <xsd:element name="Route">
              <xsd:complexType>
                <!-- This is a choice rather than a simple value to allow future strategical planners with more complexity -->
                <xsd:choice>
                  <xsd:element name="None">
                    <xsd:complexType /> <!-- Prevents this tag from having a value -->
                  </xsd:element>
                  <xsd:element name="Shortest">
                    <xsd:complexType /> <!-- Prevents this tag from having a value -->
                  </xsd:element>
                </xsd:choice>
              </xsd:complexType>
            </xsd:element>

            <!-- Other strategical planners here -->

          </xsd:choice>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="TacticalPlanner" minOccurs="0">
        <xsd:complexType>
          <xsd:choice>

            <!-- LMRS -->
            <xsd:element name="Lmrs">
              <xsd:complexType>
                <xsd:sequence>

                  <!-- Car-following model -->
                  <xsd:element name="CarFollowingModel" type="ots:CarFollowingModelType" minOccurs="0" />

                  <!-- Basic behavioral components -->
                  <xsd:element name="Synchronization" minOccurs="0" default="PASSIVE">
                    <xsd:annotation>
                      <xsd:documentation source="description">
                        DEADEND: stop for dead-end during synchronization. PASSIVE
                        (default):
                        follow first leader in target lane. ALIGNGAP: align to middle of adjacent gap. ACTIVE:
                        actively
                        consider whether gaps can be reached in time (not advised).
                      </xsd:documentation>
                    </xsd:annotation>
                    <xsd:simpleType>
                      <xsd:restriction base="xsd:string">
                        <xsd:pattern value="DEADEND|PASSIVE|PASSIVEMOVING|ALIGNGAP|ACTIVE" />
                      </xsd:restriction>
                    </xsd:simpleType>
                  </xsd:element>
                  <xsd:element name="Cooperation" minOccurs="0">
                    <xsd:annotation>
                      <xsd:documentation source="description">
                        PASSIVE (default): follow potential lane changer.
                        PASSIVEMOVING:
                        follow potential lane changer except at very low ego-speed. ACTIVE: actively consider
                        whether the
                        potential lane changer can make the gap.
                      </xsd:documentation>
                    </xsd:annotation>
                    <xsd:simpleType>
                      <xsd:restriction base="xsd:string">
                        <xsd:pattern value="PASSIVE|PASSIVEMOVING|ACTIVE" />
                      </xsd:restriction>
                    </xsd:simpleType>
                  </xsd:element>
                  <xsd:element name="GapAcceptance" minOccurs="0">
                    <xsd:annotation>
                      <xsd:documentation source="description">
                        INFORMED: aware of desired headway of potential follower.
                        EGOHEADWAY (default): potential follower evaluated with own desired headway.
                      </xsd:documentation>
                    </xsd:annotation>
                    <xsd:simpleType>
                      <xsd:restriction base="xsd:string">
                        <xsd:pattern value="INFORMED|EGOHEADWAY" />
                      </xsd:restriction>
                    </xsd:simpleType>
                  </xsd:element>
                  <xsd:element name="Tailgating" minOccurs="0">
                    <xsd:annotation>
                      <xsd:documentation source="description">
                        NONE (default): no tailgating. RHOONLY: pressure parameter
                        affects
                        other traffic, ego headway not affected. PRESSURE: ego headway and surrounding traffic affected.
                      </xsd:documentation>
                    </xsd:annotation>
                    <xsd:simpleType>
                      <xsd:restriction base="xsd:string">
                        <xsd:pattern value="NONE|RHOONLY|PRESSURE" />
                      </xsd:restriction>
                    </xsd:simpleType>
                  </xsd:element>

                  <!-- Lane change incentives -->
                  <xsd:element name="MandatoryIncentives" minOccurs="0">
                    <xsd:complexType>
                      <xsd:sequence>
                        <xsd:element name="Incentive" minOccurs="0" maxOccurs="unbounded">
                          <xsd:annotation>
                            <xsd:documentation source="description">
                              ROUTE: route and infrastructure. GETINLANE: earlier
                              lane
                              change when traffic on target lane is slow. BUSSTOP: for scheduled busses.
                            </xsd:documentation>
                          </xsd:annotation>
                          <xsd:complexType>
                            <xsd:simpleContent>
                              <xsd:restriction base="ots:ClassAttributeType">
                                <xsd:pattern value="CLASS|ROUTE|GETINLANE|BUSSTOP" />
                              </xsd:restriction>
                            </xsd:simpleContent>
                          </xsd:complexType>
                        </xsd:element>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name="VoluntaryIncentives" minOccurs="0">
                    <xsd:complexType>
                      <xsd:sequence>
                        <xsd:element name="Incentive" minOccurs="0" maxOccurs="unbounded">
                          <xsd:annotation>
                            <xsd:documentation source="description">
                              KEEP: keep right. SPEEDWITHCOURTESY: based on
                              anticipated speed, and potential lane changers. COURTESY: get or stay out of the way for lane
                              change desire of others. SOCIOSPEED: get or stay out of the way for desired speed of others.
                              STAYRIGHT: incentive for trucks to stay on the right-most two lanes, interpreted in line with
                              the
                              route.
                            </xsd:documentation>
                          </xsd:annotation>
                          <xsd:complexType>
                            <xsd:simpleContent>
                              <xsd:restriction base="ots:ClassAttributeType">
                                <xsd:pattern value="CLASS|KEEP|SPEEDWITHCOURTESY|COURTESY|SOCIOSPEED|STAYRIGHT" />
                              </xsd:restriction>
                            </xsd:simpleContent>
                          </xsd:complexType>
                        </xsd:element>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>

                  <!-- Acceleration incentives -->
                  <xsd:element name="AccelerationIncentives" minOccurs="0">
                    <xsd:complexType>
                      <xsd:sequence>
                        <xsd:element name="Incentive" minOccurs="0" maxOccurs="unbounded">
                          <xsd:annotation>
                            <xsd:documentation source="description">
                              BUSSTOP: for scheduled busses to stop. CONFLICTS:
                              consider intersection conflicts. SPEEDLIMITTRANSITION: decelerate for lower speed limit ahead.
                              TRAFFICLIGHTS: consider traffic lights. NORIGHTOVERTAKE: follow left leader, in some
                              circumstances.
                            </xsd:documentation>
                          </xsd:annotation>
                          <xsd:complexType>
                            <xsd:simpleContent>
                              <xsd:restriction base="ots:ClassAttributeType">
                                <xsd:pattern value="BUSSTOP|CONFLICTS|SPEEDLIMITTRANSITION|TRAFFICLIGHTS|NORIGHTOVERTAKE" />
                              </xsd:restriction>
                            </xsd:simpleContent>
                          </xsd:complexType>
                        </xsd:element>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>

                  <!-- Perception -->
                  <xsd:element name="Perception" type="ots:PerceptionType" minOccurs="0" />

                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>

            <!-- Other tactical planners here -->

          </xsd:choice>
        </xsd:complexType>
      </xsd:element>

    </xsd:sequence>
    <xsd:attribute name="Id" type="xsd:string" />
    <xsd:attribute name="Parent" type="xsd:string" use="optional" />
  </xsd:complexType>

  <!-- Car-following model type for use in different tactical planners -->
  <xsd:complexType name="CarFollowingModelType">
    <xsd:choice>

      <!-- IDM -->
      <xsd:element name="Idm" type="ots:CarFollowingModelHeadwaySpeedType" />

      <!-- IDM+ -->
      <xsd:element name="IdmPlus" type="ots:CarFollowingModelHeadwaySpeedType" />

      <!-- Other car-following models here -->

    </xsd:choice>
  </xsd:complexType>

  <xsd:complexType name="CarFollowingModelHeadwaySpeedType">
    <xsd:sequence>
      <xsd:element name="DesiredHeadwayModel" minOccurs="0">
        <xsd:complexType>
          <xsd:choice>
            <xsd:element name="Idm">
              <xsd:complexType /> <!-- Prevents this tag from having a value -->
            </xsd:element>
            <xsd:element name="Class" type="ots:ClassNameType" />
          </xsd:choice>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="DesiredSpeedModel" type="ots:DesiredSpeedModelType" minOccurs="0" />
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="DesiredSpeedModelType">
    <xsd:choice>
      <xsd:element name="Idm">
        <xsd:complexType /> <!-- Prevents this tag from having a value -->
      </xsd:element>
      <xsd:element name="Socio" type="ots:DesiredSpeedModelType">
        <xsd:annotation>
          <xsd:documentation source="description">
            SOCIO wraps another desired speed model and adapts it with social
            consideration.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Class" type="ots:ClassNameType" />
    </xsd:choice>
  </xsd:complexType>

  <!-- Perception type for use in different tactical planners -->
  <xsd:complexType name="PerceptionType">
    <xsd:sequence>

      <xsd:element name="Category" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation source="description">
            CLASS: category by class name, should have LanePerception as constructor
            parameter, and optionally a second HeadwayGtuType parameter. BUSSTOP: perceive bus stops for scheduled busses.
            INFRASTRUCTURE: infrastructure. INTERSECTION: conflicts and traffic lights. NEIGHBORS: surrounding GTUs. TRAFFIC:
            speed and density on lanes.
          </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:simpleContent>
            <xsd:restriction base="ots:ClassAttributeType">
              <xsd:pattern value="CLASS|EGO|BUSSTOP|INFRASTRUCTURE|INTERSECTION|NEIGHBORS|TRAFFIC" />
            </xsd:restriction>
          </xsd:simpleContent>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="HeadwayGtuType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="description">
            WRAP: perfect perception. PERCEIVED: imperfect (delayed) perception with
            estimation and anticipation.
          </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:choice>
            <xsd:element name="Wrap">
              <xsd:complexType /> <!-- Prevents this tag from having a value -->
            </xsd:element>
            <xsd:element name="Perceived">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="Estimation">
                    <xsd:annotation>
                      <xsd:documentation source="description">
                        Estimation entails perfect (NONE) or under- or overestimation
                        (UNDERESTIMATION, OVERESTIMATION) of the delayed speed and headway.
                      </xsd:documentation>
                    </xsd:annotation>
                    <xsd:simpleType>
                      <xsd:restriction base="xsd:string">
                        <xsd:pattern value="NONE|UNDERESTIMATION|OVERESTIMATION" />
                      </xsd:restriction>
                    </xsd:simpleType>
                  </xsd:element>
                  <xsd:element name="Anticipation">
                    <xsd:annotation>
                      <xsd:documentation source="description">
                        Anticipation entails NONE, CONSTANTSPEED or
                        CONSTANTACCELERATION, where the latter two anticipate to compensate the delay.
                      </xsd:documentation>
                    </xsd:annotation>
                    <xsd:simpleType>
                      <xsd:restriction base="xsd:string">
                        <xsd:pattern value="NONE|CONSTANTSPEED|CONSTANTACCELERATION" />
                      </xsd:restriction>
                    </xsd:simpleType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:choice>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="Mental" minOccurs="0">
        <xsd:complexType>
          <xsd:choice>

            <!-- Fuller -->
            <xsd:element name="Fuller">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="Task" type="ots:ClassNameType" minOccurs="0" maxOccurs="unbounded">
                    <xsd:annotation>
                      <xsd:documentation source="description">
                        Implementations of Task with constructor without input.
                      </xsd:documentation>
                    </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="BehavioralAdaptation" minOccurs="0" maxOccurs="unbounded">
                    <xsd:annotation>
                      <xsd:documentation source="description">
                        Implementations of BehavioralAdaptation with constructor
                        without input (value CLASS, with CLASS attribute), or a default. SITUATIONALAWARENESS: sets parameters
                        for situational awareness and reaction time. HEADWAY: increases the headway with high task demand.
                        SPEED: decreases speed with high task demand.
                      </xsd:documentation>
                    </xsd:annotation>
                    <xsd:complexType>
                      <xsd:simpleContent>
                        <xsd:restriction base="ots:ClassAttributeType">
                          <xsd:pattern value="CLASS|SITUATIONALAWARENESS|HEADWAY|SPEED" />
                        </xsd:restriction>
                      </xsd:simpleContent>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name="TaskManager" minOccurs="0">
                    <xsd:annotation>
                      <xsd:documentation source="description">
                        SUMMATIVE: add task demand of tasks. ANTICIPATIONRELIANCE:
                        rely on anticipation to reduce task demand of secondary task(s).
                      </xsd:documentation>
                    </xsd:annotation>
                    <xsd:simpleType>
                      <xsd:restriction base="xsd:string">
                        <xsd:pattern value="SUMMATIVE|ANTICIPATIONRELIANCE" />
                      </xsd:restriction>
                    </xsd:simpleType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>

            <!-- Other mental modules here -->

          </xsd:choice>
        </xsd:complexType>
      </xsd:element>

    </xsd:sequence>
  </xsd:complexType>

  <xsd:attributeGroup name="Inheritance">
    <xsd:attribute name="Inheritance" type="xsd:string">
    </xsd:attribute>
  </xsd:attributeGroup>

  <xsd:complexType name="ClassAttributeType">
    <xsd:simpleContent>
      <xsd:extension base="xsd:string">
        <xsd:attribute name="Class" type="ots:ClassNameType" use="optional" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>

</xsd:schema>