ots-parser-xml/src/main/resources/xsd/ots-scenario.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.opentrafficsim.org/ots"
  xmlns:ots="http://www.opentrafficsim.org/ots" 
  xmlns:xi="http://www.w3.org/2001/XInclude" xmlns:xsl="http://www.w3.org/1999/XSL/Transform"
  elementFormDefault="qualified">

  <xsd:include schemaLocation="ots-types.xsd" />

  <!-- http://www.w3.org/2009/01/xml.xsd -->
  <xsd:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="ref/xml.xsd" />
  <!-- http://www.w3.org/2001/xinclude.xsd -->
  <xsd:import namespace="http://www.w3.org/2001/XInclude" schemaLocation="ref/xinclude.xsd" />

  <xsd:complexType name="InputParameters">
    <xsd:choice minOccurs="1" maxOccurs="unbounded">
      <xsd:element name="Acceleration" type="ots:ParameterAcceleration" />
      <xsd:element name="AccelerationDist" type="ots:ParameterAccelerationDist" />
      <xsd:element name="Boolean" type="ots:ParameterBoolean" />
      <xsd:element name="Class" type="ots:ParameterClass" />
      <xsd:element name="Double" type="ots:ParameterDouble" />
      <xsd:element name="DoubleDist" type="ots:ParameterDoubleDist" />
      <xsd:element name="Duration" type="ots:ParameterDuration" />
      <xsd:element name="DurationDist" type="ots:ParameterDurationDist" />
      <xsd:element name="Float" type="ots:ParameterFloat" />
      <xsd:element name="FloatDist" type="ots:ParameterFloatDist" />
      <xsd:element name="Fraction" type="ots:ParameterFraction" />
      <xsd:element name="Frequency" type="ots:ParameterFrequency" />
      <xsd:element name="FrequencyDist" type="ots:ParameterFrequencyDist" />
      <xsd:element name="Integer" type="ots:ParameterInteger" />
      <xsd:element name="IntegerDist" type="ots:ParameterIntegerDist" />
      <xsd:element name="Length" type="ots:ParameterLength" />
      <xsd:element name="LengthDist" type="ots:ParameterLengthDist" />
      <xsd:element name="LinearDensity" type="ots:ParameterLinearDensity" />
      <xsd:element name="LinearDensityDist" type="ots:ParameterLinearDensityDist" />
      <xsd:element name="Long" type="ots:ParameterLong" />
      <xsd:element name="LongDist" type="ots:ParameterLongDist" />
      <xsd:element name="Speed" type="ots:ParameterSpeed" />
      <xsd:element name="SpeedDist" type="ots:ParameterSpeedDist" />
      <xsd:element name="String" type="ots:ParameterString" />
    </xsd:choice>
  </xsd:complexType>

  <xsd:element name="Scenarios">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="DefaultInputParameters" type="ots:InputParameters" minOccurs="0" maxOccurs="1" />
        <xsd:element name="Scenario" type="ots:ScenarioType" minOccurs="1" maxOccurs="unbounded" />
      </xsd:sequence>
    </xsd:complexType>
    
    <!-- Keys and keyrefs for input parameters -->
    
    <xsd:key name="inputParameterAccelerationId">
      <xsd:selector xpath=".//ots:DefaultInputParameters/ots:Acceleration" />
      <xsd:field xpath="@Id" />
    </xsd:key>
    
    <xsd:keyref name="inputParameterAccelerationRef" refer="ots:inputParameterAccelerationId">
      <xsd:selector xpath=".//ots:Scenario/ots:InputParameters/ots:Acceleration" />
      <xsd:field xpath="@Id" />
    </xsd:keyref>
    
    <xsd:key name="inputParameterAccelerationDistId">
      <xsd:selector xpath=".//ots:DefaultInputParameters/ots:AccelerationDist" />
      <xsd:field xpath="@Id" />
    </xsd:key>
    
    <xsd:keyref name="inputParameterAccelerationDistRef" refer="ots:inputParameterAccelerationDistId">
      <xsd:selector xpath=".//ots:Scenario/ots:InputParameters/ots:AccelerationDist" />
      <xsd:field xpath="@Id" />
    </xsd:keyref>
    
    <xsd:key name="inputParameterBooleanId">
      <xsd:selector xpath=".//ots:DefaultInputParameters/ots:Boolean" />
      <xsd:field xpath="@Id" />
    </xsd:key>
    
    <xsd:keyref name="inputParameterBooleanRef" refer="ots:inputParameterBooleanId">
      <xsd:selector xpath=".//ots:Scenario/ots:InputParameters/ots:Boolean" />
      <xsd:field xpath="@Id" />
    </xsd:keyref>
    
    <xsd:key name="inputParameterClassId">
      <xsd:selector xpath=".//ots:DefaultInputParameters/ots:Class" />
      <xsd:field xpath="@Id" />
    </xsd:key>
    
    <xsd:keyref name="inputParameterClassRef" refer="ots:inputParameterClassId">
      <xsd:selector xpath=".//ots:Scenario/ots:InputParameters/ots:Class" />
      <xsd:field xpath="@Id" />
    </xsd:keyref>
    
    <xsd:key name="inputParameterDoubleId">
      <xsd:selector xpath=".//ots:DefaultInputParameters/ots:Double" />
      <xsd:field xpath="@Id" />
    </xsd:key>
    
    <xsd:keyref name="inputParameterDoubleRef" refer="ots:inputParameterDoubleId">
      <xsd:selector xpath=".//ots:Scenario/ots:InputParameters/ots:Double" />
      <xsd:field xpath="@Id" />
    </xsd:keyref>
    
    <xsd:key name="inputParameterDoubleDistId">
      <xsd:selector xpath=".//ots:DefaultInputParameters/ots:DoubleDist" />
      <xsd:field xpath="@Id" />
    </xsd:key>
    
    <xsd:keyref name="inputParameterDoubleDistRef" refer="ots:inputParameterDoubleDistId">
      <xsd:selector xpath=".//ots:Scenario/ots:InputParameters/ots:DoubleDist" />
      <xsd:field xpath="@Id" />
    </xsd:keyref>
    
    <xsd:key name="inputParameterDurationId">
      <xsd:selector xpath=".//ots:DefaultInputParameters/ots:Duration" />
      <xsd:field xpath="@Id" />
    </xsd:key>
    
    <xsd:keyref name="inputParameterDurationRef" refer="ots:inputParameterDurationId">
      <xsd:selector xpath=".//ots:Scenario/ots:InputParameters/ots:Duration" />
      <xsd:field xpath="@Id" />
    </xsd:keyref>
    
    <xsd:key name="inputParameterDurationDistId">
      <xsd:selector xpath=".//ots:DefaultInputParameters/ots:DurationDist" />
      <xsd:field xpath="@Id" />
    </xsd:key>
    
    <xsd:keyref name="inputParameterDurationDistRef" refer="ots:inputParameterDurationDistId">
      <xsd:selector xpath=".//ots:Scenario/ots:InputParameters/ots:DurationDist" />
      <xsd:field xpath="@Id" />
    </xsd:keyref>
    
    <xsd:key name="inputParameterFloatId">
      <xsd:selector xpath=".//ots:DefaultInputParameters/ots:Float" />
      <xsd:field xpath="@Id" />
    </xsd:key>
    
    <xsd:keyref name="inputParameterFloatRef" refer="ots:inputParameterFloatId">
      <xsd:selector xpath=".//ots:Scenario/ots:InputParameters/ots:Float" />
      <xsd:field xpath="@Id" />
    </xsd:keyref>
    
    <xsd:key name="inputParameterFloatDistId">
      <xsd:selector xpath=".//ots:DefaultInputParameters/ots:FloatDist" />
      <xsd:field xpath="@Id" />
    </xsd:key>
    
    <xsd:keyref name="inputParameterFloatDistRef" refer="ots:inputParameterFloatDistId">
      <xsd:selector xpath=".//ots:Scenario/ots:InputParameters/ots:FloatDist" />
      <xsd:field xpath="@Id" />
    </xsd:keyref>
    
    <xsd:key name="inputParameterFractionId">
      <xsd:selector xpath=".//ots:DefaultInputParameters/ots:Fraction" />
      <xsd:field xpath="@Id" />
    </xsd:key>
    
    <xsd:keyref name="inputParameterFractionRef" refer="ots:inputParameterFractionId">
      <xsd:selector xpath=".//ots:Scenario/ots:InputParameters/ots:Fraction" />
      <xsd:field xpath="@Id" />
    </xsd:keyref>
    
    <xsd:key name="inputParameterFrequencyId">
      <xsd:selector xpath=".//ots:DefaultInputParameters/ots:Frequency" />
      <xsd:field xpath="@Id" />
    </xsd:key>
    
    <xsd:keyref name="inputParameterFrequencyRef" refer="ots:inputParameterFrequencyId">
      <xsd:selector xpath=".//ots:Scenario/ots:InputParameters/ots:Frequency" />
      <xsd:field xpath="@Id" />
    </xsd:keyref>
    
    <xsd:key name="inputParameterFrequencyDistId">
      <xsd:selector xpath=".//ots:DefaultInputParameters/ots:FrequencyDist" />
      <xsd:field xpath="@Id" />
    </xsd:key>
    
    <xsd:keyref name="inputParameterFrequencyDistRef" refer="ots:inputParameterFrequencyDistId">
      <xsd:selector xpath=".//ots:Scenario/ots:InputParameters/ots:FrequencyDist" />
      <xsd:field xpath="@Id" />
    </xsd:keyref>
    
    <xsd:key name="inputParameterIntegerId">
      <xsd:selector xpath=".//ots:DefaultInputParameters/ots:Integer" />
      <xsd:field xpath="@Id" />
    </xsd:key>
    
    <xsd:keyref name="inputParameterIntegerRef" refer="ots:inputParameterIntegerId">
      <xsd:selector xpath=".//ots:Scenario/ots:InputParameters/ots:Integer" />
      <xsd:field xpath="@Id" />
    </xsd:keyref>
    
    <xsd:key name="inputParameterIntegerDistId">
      <xsd:selector xpath=".//ots:DefaultInputParameters/ots:IntegerDist" />
      <xsd:field xpath="@Id" />
    </xsd:key>
    
    <xsd:keyref name="inputParameterIntegerDistRef" refer="ots:inputParameterIntegerDistId">
      <xsd:selector xpath=".//ots:Scenario/ots:InputParameters/ots:IntegerDist" />
      <xsd:field xpath="@Id" />
    </xsd:keyref>
    
    <xsd:key name="inputParameterLengthId">
      <xsd:selector xpath=".//ots:DefaultInputParameters/ots:Length" />
      <xsd:field xpath="@Id" />
    </xsd:key>
    
    <xsd:keyref name="inputParameterLengthRef" refer="ots:inputParameterLengthId">
      <xsd:selector xpath=".//ots:Scenario/ots:InputParameters/ots:Length" />
      <xsd:field xpath="@Id" />
    </xsd:keyref>
    
    <xsd:key name="inputParameterLengthDistId">
      <xsd:selector xpath=".//ots:DefaultInputParameters/ots:LengthDist" />
      <xsd:field xpath="@Id" />
    </xsd:key>
    
    <xsd:keyref name="inputParameterLengthDistRef" refer="ots:inputParameterLengthDistId">
      <xsd:selector xpath=".//ots:Scenario/ots:InputParameters/ots:LengthDist" />
      <xsd:field xpath="@Id" />
    </xsd:keyref>
    
    <xsd:key name="inputParameterLinearDensityId">
      <xsd:selector xpath=".//ots:DefaultInputParameters/ots:LinearDensity" />
      <xsd:field xpath="@Id" />
    </xsd:key>
    
    <xsd:keyref name="inputParameterLinearDensityRef" refer="ots:inputParameterLinearDensityId">
      <xsd:selector xpath=".//ots:Scenario/ots:InputParameters/ots:LinearDensity" />
      <xsd:field xpath="@Id" />
    </xsd:keyref>
    
    <xsd:key name="inputParameterLinearDensityDistId">
      <xsd:selector xpath=".//ots:DefaultInputParameters/ots:LinearDensityDist" />
      <xsd:field xpath="@Id" />
    </xsd:key>
    
    <xsd:keyref name="inputParameterLinearDensityDistRef" refer="ots:inputParameterLinearDensityDistId">
      <xsd:selector xpath=".//ots:Scenario/ots:InputParameters/ots:LinearDensityDist" />
      <xsd:field xpath="@Id" />
    </xsd:keyref>
    
    <xsd:key name="inputParameterLongId">
      <xsd:selector xpath=".//ots:DefaultInputParameters/ots:Long" />
      <xsd:field xpath="@Id" />
    </xsd:key>
    
    <xsd:keyref name="inputParameterLongRef" refer="ots:inputParameterLongId">
      <xsd:selector xpath=".//ots:Scenario/ots:InputParameters/ots:Long" />
      <xsd:field xpath="@Id" />
    </xsd:keyref>
    
    <xsd:key name="inputParameterLongDistId">
      <xsd:selector xpath=".//ots:DefaultInputParameters/ots:LongDist" />
      <xsd:field xpath="@Id" />
    </xsd:key>
    
    <xsd:keyref name="inputParameterLongDistRef" refer="ots:inputParameterLongDistId">
      <xsd:selector xpath=".//ots:Scenario/ots:InputParameters/ots:LongDist" />
      <xsd:field xpath="@Id" />
    </xsd:keyref>
    
    <xsd:key name="inputParameterSpeedId">
      <xsd:selector xpath=".//ots:DefaultInputParameters/ots:Speed" />
      <xsd:field xpath="@Id" />
    </xsd:key>
    
    <xsd:keyref name="inputParameterSpeedRef" refer="ots:inputParameterSpeedId">
      <xsd:selector xpath=".//ots:Scenario/ots:InputParameters/ots:Speed" />
      <xsd:field xpath="@Id" />
    </xsd:keyref>
    
    <xsd:key name="inputParameterSpeedDistId">
      <xsd:selector xpath=".//ots:DefaultInputParameters/ots:SpeedDist" />
      <xsd:field xpath="@Id" />
    </xsd:key>
    
    <xsd:keyref name="inputParameterSpeedDistRef" refer="ots:inputParameterSpeedDistId">
      <xsd:selector xpath=".//ots:Scenario/ots:InputParameters/ots:SpeedDist" />
      <xsd:field xpath="@Id" />
    </xsd:keyref>
    
    <xsd:key name="inputParameterStringId">
      <xsd:selector xpath=".//ots:DefaultInputParameters/ots:String" />
      <xsd:field xpath="@Id" />
    </xsd:key>
    
    <xsd:keyref name="inputParameterStringRef" refer="ots:inputParameterStringId">
      <xsd:selector xpath=".//ots:Scenario/ots:InputParameters/ots:String" />
      <xsd:field xpath="@Id" />
    </xsd:keyref>
    
  </xsd:element>

  <xsd:complexType name="ScenarioType">
    <xsd:sequence>
      <xsd:element name="InputParameters" type="ots:InputParameters" minOccurs="0" maxOccurs="1" />

      <xsd:element name="Od" minOccurs="0" maxOccurs="unbounded">
        <xsd:complexType>
          <xsd:attribute name="Id" type="ots:string" use="required" />
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="Control" minOccurs="0" maxOccurs="unbounded">
        <xsd:complexType>
          <xsd:attribute name="Id" type="ots:string" use="required" />
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="ModelIdReferral" type="ots:ModelIdReferralType" minOccurs="0" maxOccurs="unbounded" />

    </xsd:sequence>
    <xsd:attribute name="Id" type="xsd:string" />
  </xsd:complexType>

</xsd:schema>